[2016-04-20 11:54] ypriverol opened #1 "mzid 1.2 to do list from Gent"
Hi all,

Various items from the sessions this morning in Gent:

- [ ]  mzid 1.2 validator not easy to locate on GitHub - @germa , are you able to make this prominently available as a build under a "Downloads" webpage on Githut. Apparently, it is fairly easy to build end user web-pages on GitHub - @Tobias and @ypriverol has experience of this.

 - [ ] There are various bugs in the validator - if yo

[2016-04-25 09:33] andrewrobertjones opened #2 "Cross-linking CV"
The following tasks are needed for the cross-linking CV:

- Hosting here on GitHub (CSV format?)
- Unique identifiers for all cross-link and dead-end mods
- Put identifiers into XL example documents

[2016-04-25 09:42] andrewrobertjones opened #3 "Mod re-scoring"
I have opened an issue here to make sure that:

1. There are valid CV terms for mod rescoring
2. Example files are correctly validated.
3. The spec doc is correct and up-to-date.

Please add any other issues related to mod rescoring. We will close it once all is complete. I've assigned it to Harald - hope that is okay!

[2016-04-25 11:06] andrewrobertjones commented on #2
We need a new branch of the PSI-MS CV for "protein interaction scores derived from cross-linking" @germa . Child terms derived from here MUST have a data type following a regular expression:

The CV term value MUST have the structure of: “FILE_UNIQUE_IDENTIFIER:SCORE” – where FILE_UNIQUE_IDENTIFIER is an integer unique (at the file level) to the interaction pair and SCORE is the score or statistic

[2016-04-25 12:17] andrewrobertjones opened #4 "Proteogenomics encoding"
I am adding the proteogenomics encoding to the spec doc. I am opening this issue to check that the validator @germa  checks that this term is present in SIProtocol:

` <cvParam cvRef="PSI-MS" accession="MS:1002635" name="proteogenomics search"></cvParam>`

And then expects ALL the following elements to be present on every PeptideEvidence:

[code]

SearchDatabase MUST have the genome reference vers

[2016-04-25 14:14] andrewrobertjones commented on #4
Further note on this comment. In our software (ProteoAnnotator), we search a database concatenated from several sources. Placing a single cvParam for genome reference version on SearchDatabase does not allow us to tell which genome (version) each PeptideEvidence should be mapped against. Some options for how to solve this:

- Put genome reference version on every PeptideEvidence
Pros: Unambiguous

[2016-04-25 14:24] ypriverol commented on #4
@andrewrobertjones  I will go for the first option if is possible, because we can use the information for viz and will help to reproduce the results. The second option would be difficult because the users would need to add/submit/provide the corresponding external file making difficult the use of this implementation in practical terms.

[2016-04-25 14:35] andrewrobertjones commented on #4
I have written in the new specs: "These seven cv terms MUST be present on every PeptideEvidence, unless isDecoy=“true”, in which case they are optional."

@germa The validator would need updating to check this  if everyone agrees?

[2016-04-25 14:43] andrewrobertjones commented on #4
Further comment on CV terms:
` <cvParam cvRef="PSI-MS" accession="MS:1002639" name="peptide start on chromosome" value="73417647"></cvParam>
...
    <cvParam cvRef="PSI-MS" accession="MS:1002643" name="peptide start positions on chromosome" value="73417647,73418087"></cvParam>`

If I understand our method correctly, the first value of "peptide start positions on chromosome" MUST be the same as "pe

[2016-04-25 14:58] ypriverol commented on #4
Hi @andrewrobertjones  for a quick understand, why do you have multiple values in the same CVTerm?

[2016-04-25 15:41] andrewrobertjones commented on #4
Seems this issue was closed - I presume that was a mistake

[2016-04-25 15:42] ypriverol commented on #4
@andrewrobertjones

[2016-04-25 15:49] andrewrobertjones opened #5 "Multiple search engine encoding"
We decided in Ghent to get rid of the concept of "final PSM list" and "intermediate list"  - only final results are allowed to make reading easier. @germa Please remove this from the mapping file and validator once agreed. Log any complaints here!

I have added a schema-level check that spectrumID + spectra_Data_ref are unique - to lock down this potential for error in results files.

Please check

[2016-04-25 16:08] smdb21 commented on #5
Hi, correct me if I am wrong, but I am thinking on one situation, in which we have a set of spectra that are searched with different parameters, but then the user wants to merge all results of different searches in one single mzIdentML. In that case, we have spectrumID + spectra_Data_ref pairs in both searches, but in different SpectrumIdentificationLists. So, I guess that the spectrumID +spectra_

[2016-04-26 08:30] andrewrobertjones commented on #5
Hi @smdb21 The point of the change is to prevent the encoding you are describing - although I realise some people may not like it, hence it needs discussion. I am pushing the concept that a "valid" mzIdentML 1.2 file contains only "final" results. This means that if there are multiple SILists, the parser MUST process them with no exceptions.

As further rationale  - in our pipelines (and presumabl

[2016-04-26 08:51] andrewrobertjones commented on #4
Hi @ypriverol These are the start positions within exons. This peptide is mapped across a splice junction, so there is the start point within the first exon, then start position within exon 2. I have added the explanation of the encoding to the spec doc.

[2016-04-26 10:53] julianu commented on #5
I would vote for removing the intermediate lists as well.

We could introduce an optional field (probably in Inputs?), which links to the intermediate mzId files and facilitates keeping track of the way the final list was calculated. Thus, uploading the final mzId and the intermediates to PRIDE etc. would still show the whole workflow. At least, given you know the software that did it.

[2016-04-26 11:33] hbarsnes opened #6 "Validator: null pointer for missing version number in the cvList"
I get the following null pointer when trying to run the validator on the PeptideShaker 1.2 example file:

[code]

The problem seems to be that the validator requires a version number for the elements in the cvList, but as far as I can tell the version number is not mandatory here?

I think it can all be easily fixed by checking if the versions number is not null before using the version object?

@

[2016-04-26 11:34] hbarsnes opened #7 "Remove the value requirement for CV terms used to indicate data type for a list"
At the meeting we agreed to remove the value requirement from the following MS:1001221 (fragmentation information) child terms:
   - MS:1001226 (product ion intensity)
   - MS:1002225 (average product ion intensity)
   - MS:1002226 (product ion intensity standard deviation)
   - MS:1000904 (product ion m/z delta)

The reason being that these terms are used as to describe the data type in mzid file

[2016-04-26 11:36] hbarsnes opened #8 "MS:1002404 (count of identified proteins) ought to be a child of MS:1001184 (search statistics)?"
MS:1002404 (count of identified proteins) is _not_ a child of MS:1001184 (search statistics)? Should it not be? Will remove warning messages when running the validator.

[2016-04-26 11:40] hbarsnes opened #9 "How to use MS:1001239 (frag: immonium ion) to annotate immonium ions on specific amino acids?"
What is the intended use of MS:1001239 (frag: immonium ion) and how can this be used to annotate immonium ions on specific amino acids?

Here's what we currently do in the PeptideShaker mzIdentML export using the outdated PRIDE CV terms:

[code]

How would the same be done with MS:1001239 (frag: immonium ion)?

[2016-04-26 11:41] hbarsnes opened #10 "Scientific notation not allowed in PTM localization scores?"
Why is the following not allowed?

"MS:1001969" name="phosphoRS score" value="1:1.0468246849444967E-8:4:false"

Is scientific annotation not supported?

Full error:
"The regular expression in SpectrumIdentificationItem (id='SII_4070_1') element at /MzIdentML/DataCollection/AnalysisData/SpectrumIdentificationList/SpectrumIdentificationResult/SpectrumIdentificationItem/cvParam ('phosphoRS score') is

[2016-04-26 11:47] hbarsnes opened #11 "Incorrect CV term requirement for PTM localization scoring?"
It seems to be mandatory to add MS:1002507 (modification rescoring:false localization rate) (or any of its child terms, of which there are none btw) when including MS:1002491 (modification localization scoring) in the AdditionalSearchParams list.

This means that terms such as MS:1001969 (phosphoRS score), MS:1002536 (D-Score), MS:1002550 (peptide:phosphoRS score and MS:1002553 (peptide:D-Score) (

[2016-04-26 11:47] hbarsnes opened #12 "Update list of anticipated CV terms during validation"
The following terms ought to be anticipated when running the validator (and thus remove the warning messages):

- MS:1002567 (phosphoRS score threshold) and MS:1002557 (D-Score threshold) ought to be anticipated terms under Threshold under SpectrumIdentificationProtocol?

- MS:1002497 (group PSMs by sequence with modifications) (and the other new related terms) ought to be anticipated terms under

[2016-04-26 11:49] hbarsnes commented on #3
@andrewrobertjones I decided to add the them as separate issues instead as I think this is clearer and easier to maintain. So please add more if there is something I forgot.

[2016-04-26 13:26] germa commented on #7
Done in version 3.86.0 of psi-ms.obo

[2016-04-26 13:26] #7 closed

[2016-04-26 13:27] germa commented on #8
Done in version 3.86.0 of psi-ms.obo

[2016-04-27 08:28] javizca commented on #5
I also support the change. Life for readers would be much easier, and if needed, people can keep track of all those intermediate results in different mzIdentML files.
Something that has never been discussed in detail, if whether there is the need to create a "wrapper" file that would connect all files belonging to the same experiment together (this is not only applicable to mzidentML, but it could

[2016-04-27 08:33] javizca commented on #2
Maybe it is worth checking the PSI-MS CV first, to see if these scores are already there. I know that at least some work has already been done in this context there.

[2016-04-27 08:39] javizca commented on #4
About the concatenated searches, this is not a unique case for proteogenomics. People can make the same (e.g. organisms that don't have a complete genome sequences, and sequences are merged together from different sources). I don't know if this case was explained before in detail in the specification document, but whatever is decided for proteogenomics should be applicable to these cases as well.

[2016-04-27 08:50] javizca commented on #4
Do we need to consider at all that a zero-based coordinate system in used in Bed and BAM files, but not in GFF3/GTF files? I guess it is good to assume that we will use a zero-based coordinate system by default. This should be written in the specification document.

[2016-04-27 14:31] germa commented on #6
Should be fixed now.

[2016-04-27 14:32] germa commented on #6
Should be fixed now.

[2016-04-27 14:32] #6 closed

[2016-04-27 15:04] germa commented on #10
Resolved

[2016-04-27 15:04] #10 closed

[2016-04-27 16:06] lutzfischer commented on #2
I uploaded a initial list of cross-linker. Several points I would make:
* Having a all site specificities as a list in on field seems to me the more future proof then having one filed per site and then adding new fields if somebody wants to express something else then dimeric cross-linker
* having a field that denotes just the number of reactive sites on a cross-linker
 *  less discussion about ho

[2016-04-27 17:14] lutzfischer commented on #2
Some points for thought about Cross-linking site localisation
 * Is a psm/peptide-level site localisation enough
 * the actual residue pair (as in residue 255 of protein a is linked to residue 136 of protein2) might have different site-localisation  probability then the links on each supporting psm.
  * e.g. applying occams razor and ignoring site localisation on PSM level beyond the simple "it co

[2016-04-27 17:31] smdb21 commented on #5
I am not sure about this change. I think is quite common to have more than one search over the same dataset (same spectra), using different parameters (such as HEAVY fixed masses, or PTM search) and then to apply an statistical validation over all of them, resulting in a single protein and peptide list, which means a single resulting file. In this case there is not final PSM list, all of them are

[2016-04-28 11:39] andrewrobertjones commented on #5
@smdb21 In this case, you can still represent the final results in a single file, you just have to combine the results into a single SIList -where each SIResult is unique. This makes it easier to work out what is being claimed to have been identified. If the lists are kept separate (in one file with 2 lists) or 2 files (with one list), a reader might double count the number of spectra queried (and

[2016-04-28 12:49] mwalzer commented on #2
@lutzfischer

Can you post a link, please?

[2016-04-28 13:02] mwalzer commented on #5
I agree with Andy here, _not_ having separate lists reduces the number of ways a reader could interpret the consumed mzid(s)

[2016-04-28 13:27] lutzfischer commented on #2
https://github.com/HUPO-PSI/mzIdentML/blob/master/cv/XLMOD.csv

[2016-04-28 14:23] andrewrobertjones commented on #2
In response to @lutzfischer I agree that cross-linker site localisation evidence could be added at the level of the protein, and this would need to go on ProteinDetectionHypothesis in mzid (i.e. accession level rather than protein group level), something like as follows:

INTERACTION_PAIR_ID:PROTEIN_SEQ_POSTION:SCORE:PASS_THRESHOLD - similar to mod localization.

Question - is anything needed at t

[2016-04-28 14:25] andrewrobertjones commented on #4
@javizca I would vote for the coordinate system being used in mzIdentML is always zero based. If you writing back to GFF afterwards, you would need to do a conversion. This seems safer than having two ways of doing it, and then assuming a reading software will check this parameter.

[2016-04-28 14:53] lutzfischer commented on #2
@andrewrobertjones would it make sense to abstract the cross-linker position to a modification localisation? The problem there would be that you would have to encode more complicated cases then we currently have/usually care about in cross-linking. E.g. that two sites are mutual exclusive. But how much more would we need to have general modifications covert?

[2016-04-28 15:03] lutzfischer commented on #2
@andrewrobertjones if we put the info on individual proteins we probably need to flag up the site as well. Otherwise we have problems to distinguish a link that could come from protein A residue X and could end in either protein B residue Y OR protein C residue Z. E.g. extend the info to
INTERACTION_PAIR_ID:CROSSLINK_ID:SITE_ID:PROTEIN_SEQ_POSTION:SCORE:PASS_THRESHOLD

As to if we need a another i

[2016-04-28 16:18] andrewrobertjones commented on #2
I think changing interaction id to be integer.a integer.b e.g. 1001.a 1001.b for the interacting partners would work for this. Then the same value could be shared amongst different proteins within same group, showing ambiguity rather than implying they are interacting. Coupled with my proposal higher up, this would seem to cover most cases needed?

[2016-04-28 17:40] smdb21 commented on #5
But, then, what about the search parameters? In case of having a single mzIdentML file with a single SIList merging PSMs coming from different searches with different parameters, can we have in AnalysisCollection, two different SpectrumIdentification elements referencing to different SpectrumIdentificationProtocols (different search parameters) and same SIList? like:
[code]
In this case, we lose t

[2016-04-29 07:40] julianu commented on #5
That is right, this information would be lost in the merged file. I think to keep this, any kind of mapping, maybe something like a metafile suggested by @javizca would be a good idea.

Regarding the SpectrumIdentificationProtocol: currently, when PIA is exporting a merged PSM list, an additional SpectrumIdentificationProtocol for the merging is generated. This, though, only contains the merging s

[2016-04-29 07:45] timosachsenberg opened #13 "Cross-link site specificity might need refinement"
Hi,
I wanted to point out that the current format e.g. "(K,L,n-term)" might be insufficient to represent site-specific and site-unspecific terminal cross-linker.
e.g. in unimod there is the distinction between a terminal modification e.g. ("N-term") and a terminal modification at a specific site e.g. ("N-term K").
Maybe we could also adapt this notation.

[2016-04-29 12:33] enetz opened #14 "Manual annotation of PSMs"
We briefly discussed at the PSI meeting, that manual annotations would be possible by manually setting the passThreshold value in SpectrumIdentificationItem.
Since manual examination of spectra is still very important in cross-linking pipelines, could we add more flexible annotations, maybe a CV term for free text comments?
Manually changing the passThreshold flag would not be transparent and repr

[2016-04-29 13:01] andrewrobertjones commented on #14
Hi @enetz Anyone is free to add any types of CV terms you want to SpectrumIdentificationItem. Please make some suggestion for what such a term would look like, and then we will add it in. It doesn't need to be part of the formal standard

[2016-04-29 14:17] germa commented on #12
Resolved.

[2016-04-29 14:17] #12 closed

[2016-04-29 14:18] germa commented on #11
Resolved.

[2016-04-29 14:18] #11 closed

[2016-04-29 14:22] germa commented on #1
Done all CV stuff and added README.md file with a download link for the validator

[2016-04-29 19:37] hbarsnes commented on #8
Seems like the ProteinDetectionList_rule does not allow children of MS:1001184 (search statistics) only children of MS:1002406 (count of identified clusters)? Shouldn't children of MS:1001184 (search statistics) also be allowed?

Complete validator message:

[code]

[2016-04-29 19:51] hbarsnes opened #16 "How to annotate reporter ions as part of the Fragmentation section?"
Related to https://github.com/HUPO-PSI/mzIdentML/issues/9, are there any of examples of how reporter ions from, for example, iTRAQ and TMT are to be annotated as part of the Fragmentation section? I could not find the required CV terms?

[2016-04-29 19:59] hbarsnes opened #17 "Is the DenovoSearchType_may_rule used correctly?"
What is the purpose of the DenovoSearchType_may_rule? I get the following for the PeptideShaker mzid 1.2 example file:

Rule ID: DenovoSearchType_may_rule
    Level: INFO
    Context(/additionalSearchParams/cvParam/@accession ) in 2 locations
    --> Not all of the 6 values ParamList's CV terms ['MS:1001211', 'MS:1001256', 'MS:1002492', 'MS:1002490', 'MS:1002497', 'MS:1002491'] found using the Xpa

[2016-04-29 20:03] hbarsnes commented on #3
@andrewrobertjones @germa
Quick update on the validation of the PeptideShaker mzid 1.2 example file. After Gerhard's recent fixes the file now validates without any errors and with a lot less INFO messages. The remaining messages mainly relate to additional CV terms that could be added but that are not mandatory.

There are only three remaining questions, all set up as separate issues:
- Allow sea

[2016-04-29 22:45] hbarsnes opened #18 "Validator has issues with new threshold CV terms for mzid 1.1 files"
If I recreate the PeptideShaker mzid 1.2 example file but remove all the new 1.2 additions, i.e., creating an mzid 1.1 compatible file, the validator is not happy and gives the following errors:

Message 1:
    Rule ID: ProteinDetectionProtocolThreshold_rule
    Level: ERROR
    Context(/threshold/cvParam/@accession ) in 2 locations
    --> The result found at: /threshold/cvParam/@accession for wh

[2016-04-30 09:46] enetz opened #19 "Consensus Spectra (labelled and unlabelled cross-linkers)"
Current state:
As it is specified now, the two spectra are referenced as an unordered list of spectrum IDs in the SpectrumIdentificationResult.
For some use cases it could be useful to know which of these is the light and which is the heavy spectrum, since they are not necessarily treated equally.
Also the experimentalMassToCharge and chargeState from only one spectrum are written in SpectrumIdent

[2016-04-30 09:55] mwalzer commented on #14
Sure we could put 'free form' annotations in there, but the question is @enetz to what extent we would want to make these annotations machine readable for others (e.g. for visualising). _Are there common operations in manual annotation?_
I'd guess something along the lines of ```manual peak tagging``` or ```manual peak annotation``` and ```manual peak group tagging```.

[2016-04-30 10:02] mwalzer commented on #13
definitely something the chem. experts should consider during their offline discussions on the linker definitions list, see https://github.com/HUPO-PSI/mzIdentML/blob/master/cv/XLMOD.csv

[2016-04-30 10:04] mwalzer opened #20 "Cross-linking CV list needs versioning"
for better referencing. Also see #2

[2016-04-30 10:10] mwalzer commented on #2
thread is getting too long, will just reference related issues here:
#13
#20

[2016-05-03 11:26] andrewrobertjones opened #21 "Build of validator"
@germa Apologies if I missed it somewhere - it's not obvious if there is a release of the validator available for developers. It would be good to post this on the front page of the mzIdentML GitHub, or at least have it available inside the Git repository. I'm struggling to locate it?

thanks
Andy

[2016-05-03 11:36] andrewrobertjones opened #22 "Support for .mzid.gz in the validator"
@germa Can you add support for .mzid.gz directly in the validator. As gzip is the recommended compression for mzid, and we have compressed files in GitHub, it would be nice if we could validate without manually decompressing.
thanks
Andy

[2016-05-03 12:40] andrewrobertjones opened #23 "Is mzid valid without spectra data in referenced file?"
My recollection is that a valid mzIdentML file SHOULD be accompanied by the spectra searched in an external file, but I don't actually see this line in the 1.1 or 1.2-draft specs.

Should we add this line?
If so,
1. all our example files should have the searched file alongside them
2. The validator should check that the file exists as referenced in the file. Even better would check that experiment

[2016-05-03 12:46] andrewrobertjones commented on #21
@germa  Further note, I compiled this locally on Netbeans. When I try to run the validator, I get the following message:

`java.io.FileNotFoundException: E:\Work\PSI\mzIdentML\Git\validator\trunk\resources\validation.properties (The system can
not find the path specified)
        at java.io.FileInputStream.open(Native Method)
        at java.io.FileInputStream.<init>(Unknown Source)
        at jav

[2016-05-03 12:54] andrewrobertjones commented on #19
I recall the idea is to have SpectrumIdentificationItem elements for each peptide chain within the group. As such, if there is a light-alpha; heavy-alpha; light-beta and heavy-beta, there would be four SpectrumIdentificationItems elements, each with the correct expMassToCharge and charge value. Does this not work?

[2016-05-03 13:27] julianu commented on #21
@germa send this location for the validator around a while ago:
https://github.com/HUPO-PSI/mzIdentML/tree/master/validator/trunk/mzIdentMLValidator

Anyways, I would vote rather to have the running validator under the releases of the project instead inside of the code. There are already some old releases, created by @ypriverol during the move to gitHub, I guess.
It might be even cleaner to create

[2016-05-03 13:30] ypriverol commented on #21
@julianu I vote also for this option however should be clear from the readme of the file format where is the official validator. If you let me know where is the current version I can remove the old version and create the repository.

[2016-05-03 14:57] andrewrobertjones commented on #21
Thanks all. I don't mind whether it is branched to a new project or stays here. The front page of the GitHub should make it really clear how everyone gets access to the latest validator though. When a new build is made, is it possible to tag is so it automatically appears somewhere?

[2016-05-03 15:00] andrewrobertjones commented on #19
Further note - I've spotted there is a problem with this encoding. The chargeState is not specified whether it is experimental or calculated. We need to know the charge value for both calculated and experimental, if we go down this route of using the values in this way. The documentation is not very helpful here:

`<xsd:attribute name="chargeState" type="xsd:int" use="required">
					<xsd:annotati

[2016-05-03 15:04] enetz commented on #19
In the case of labelled linkers we do not have a mapping of one peptide chain to one spectrum, both the light and heavy spectrum are used to identify both peptides and contain fragments from both peptides.

Using light-alpha, light-beta, heavy-alpha, heavy-beta SIItems would store the information, but is very redundant and each SIItem now means something different for each experimental setup (norm

[2016-05-04 09:01] andrewrobertjones commented on #19
I would like to keep the cardinality such that one SII references one Peptide chain identified, so for the case of L&H, we require four SII elements. Given the problem identified above with "chargeState" attribute, I think we should require that the calculatedMassToCharge and chargeState attributes for each cross-linked pair store identifical values for the calculatedMassToCharge of the whole cros

[2016-05-04 11:31] andrewrobertjones opened #24 "Cross-linking - protein interaction evidence"
I have closed down long convoluted thread on various CV items: #2.

The have made a proposal for how I think we should represent protein interaction evidence in mzid - see attached pdf.
[xl_protein_interaction.pdf](https://github.com/HUPO-PSI/mzIdentML/files/248648/xl_protein_interaction.pdf)

[2016-05-04 11:31] #2 closed

[2016-05-04 11:38] andrewrobertjones commented on #14
Here are some CV terms already in existence:

`
[Term]
id: MS:1001125
name: manual validation
def: "Result of quality estimation: decision of a manual validation." [PSI:PI]
xref: value-type:xsd\:string "The allowed value-type for this CV term."
is_a: MS:1001092 ! peptide identification confidence metric
is_a: MS:1001198 ! protein identification confidence metric

[Term]
id: MS:1001058
name: qualit

[2016-05-04 12:43] andrewrobertjones commented on #22
This appears to be complete - thanks @germa. I will close it now.

[2016-05-04 12:43] #22 closed

[2016-05-04 12:57] andrewrobertjones commented on #5
Here is what is written about protocols in the spec doc about the SIProtocol:

`The <SpectrumIdentification> element MUST reference a <SpectrumIdentificationProtocol> holding representative parameters used across all search engines (i.e. search tolerances, enzyme and modifications), since these are MANDATORY elements. If the same search parameters were not employed in all source searches, the para

[2016-05-04 13:04] andrewrobertjones opened #25 "CV terms for PSM, peptide, protein, protein group and mod localisation - need clean up"
Just opening a comment here to remind us we need to do this. In Ghent, we discussed making different CV terms for all of PSM, peptide, protein, protein group and mod localisation so that reading software could easily tell, say under SpectrumIdentificationItem, whether the score is for a PSM, peptide or mod localisation.

Mod localisation will have to specific terms anyway, since the values have a

[2016-05-04 13:26] andrewrobertjones commented on #3
All ported to new issues - closing

[2016-05-04 13:26] #3 closed

[2016-05-04 13:58] germa commented on #18
Resolved.

[2016-05-04 13:58] #18 closed

[2016-05-04 23:59] smdb21 commented on #5
I agree that is the less risky option. So, if we agree on this, I will update my example file accordingly.

[2016-05-10 10:11] andrewrobertjones commented on #4
These points were provisionally agreed on last call. @germa would you mind updating the mapping and validator. Please email me if anything is unclear. @fghali please can you update our example file before the call tomorrow if possible.

1.	Proteogenomics – Agreed to move chromosome name and strand to DBSequence (protein-level), also move Genome reference version to DBSequence; Remove “peptide star

[2016-05-10 12:16] lutzfischer commented on #13
I agree that this would make sense. Hoever at the moment we don't have a cross-linker of type "N-term K" or equivalent.
Currently used are:
* Amino-Acids - signifies that the cross-linker reacts with these amino-acids
* N-term/C-term - refers to N-terminal or C-terminal end of the protein

If we want to specify now how things will be treated even if we don't have examples of them then we need a se

[2016-05-10 12:46] timosachsenberg commented on #13
Ok thanks for the comment.

Maybe it's not really relevant at this point but I give some information how it is done in unimod.

If we decide to be consistent with the naming scheme in unimod, we could use:
"Protein N-term" or "Protein C-term" for protein terminal cross-linker
"N-term" or "C-term" for peptide terminal cross-linker (probably less relevant as you pointed out)
(or the empty string for

[2016-05-10 12:50] lutzfischer commented on #20
Uploaded a minimal version of XLMOD as
XLMOD-1.0.0.csv

[2016-05-10 12:50] #20 closed

[2016-05-11 07:42] julianu commented on #5
Maybe this should go to a new issue, but:
Do we have a recommendation on how to handle <SpectrumIdentificationItem>s with multiple instances of the same score (or any other Param)? For example if identifications from different search engines are merged using the FDRScore and CombinedFDRScore. So for each search engine run there is (optimally) one FDRScore in the combined <SpectrumIdentificationIte

[2016-05-11 12:21] germa opened #27 "MS:1001355 peptide descriptions"
Can we make the following term obsolete?

[Term]
id: MS:1001355
name: peptide descriptions
def: "Descriptions of peptides." [PSI:PI]
is_a: MS:1001105 ! peptide result details

It has no children and no associated value, so it makes not much sense.

[2016-05-11 13:11] enetz opened #28 "CV priority, Unimod or XLMOD if both applicable?"
Some of the cross-linkers have CV terms in Unimod, e.g. the mono-links for DSS (but not the cross-link).
If there are CV terms in Unimod available, should the Unimod terms be used, or should the XLMOD terms from the csv file have priority for cross-linking specific information?
The cross-link CV terms in Unimod are patchy, so if we prioritize Unimod we will have both Unimod and XLMOD terms in most

[2016-05-11 13:33] lutzfischer commented on #13
Ok first point - terminal cross-links: One reason I did not want to put Protein-C/N-term in is that basically for all non-natural cross-linkers that distinction depends on when you add the cross-linker - e.g. before or after digest. So it's not an inherent feature of the cross-linker. Admittedly there are probably not many experiments that would do cross-linking after a digest...

But I guess we c

[2016-05-11 13:51] timosachsenberg commented on #13
Thanks for the clarification.
The case we currently (as far as I understood it and mainly from a theoretical point) are not able to represent is e.g.:
Linking K to Y or S to T but at the same time disallowing K to T. I don't know if these cases exist in practice (or might exist in the future - e.g. for special types of zero length cross-linker).

[2016-05-11 15:06] andrewrobertjones commented on #1
All moved to other issues or done, closing

[2016-05-11 15:06] #1 closed

[2016-05-11 15:08] andrewrobertjones commented on #4
@fghali  can you let us know when this has been checked versus example files, then close this issue

[2016-05-11 15:11] andrewrobertjones commented on #5
Agreed to use mechanism and closing

[2016-05-11 15:11] #5 closed

[2016-05-11 15:15] andrewrobertjones commented on #8
Seems to be solved, closing. Can be re-opened if issue still exists

[2016-05-11 15:19] andrewrobertjones commented on #9
Documentation in the XSD explains this:
For immonium ions, the index is the position of the identified ion within the peptide sequence - if the peptide contains the same amino acid in multiple positions that cannot be distinguished, all positions should be given.

[2016-05-11 15:19] #9 closed

[2016-05-11 15:22] andrewrobertjones commented on #16
This is part of the documentation in the schema: "For any other ions not related to the position within the peptide sequence e.g. quantification reporter ions, the index value MUST be 0."

Please request the terms for PSI-MS CV for specific reporter ions you want to annotate

[2016-05-11 15:22] #16 closed

[2016-05-11 15:28] andrewrobertjones commented on #17
Gerhard unable to reproduce issue. Harald re-open if it is still a problem

[2016-05-11 15:28] #17 closed

[2016-05-11 15:35] andrewrobertjones commented on #23
Agreed that we would like to have external spectra i.e. “encouraged” but not checked by validator

[2016-05-11 15:35] #23 closed

[2016-05-11 15:37] andrewrobertjones commented on #25
ACTION: Gerhard going to make a brief report of the terms we have, and we will create new terms where needed separating PSMs and peptides

[2016-05-11 15:40] andrewrobertjones commented on #27
Agreed to leave this in as a place holder to allow for extensions in the future

[2016-05-11 15:40] #27 closed

[2016-05-11 16:13] sulezinha commented on #13
In that case, for example, is XLMOD-specificity for DSS going to be _(K,S,T,Y,Protein N-term M)&(K,S,T,Y,Protein N-term M)_?

Because, I received one data set from a group and this group also provided me their FASTA file.
I ran pLink and Kojak to identify spectra for DSS linking.

Their fasta file has one protein sequence that starts with G.
Both algorithm gave identification with considering Prot

[2016-05-12 11:03] hbarsnes commented on #8
I still get the same info message when running the current validator on the PeptideShaker mzid 1.2 example file: https://github.com/HUPO-PSI/mzIdentML/blob/master/examples/1_2examples/PeptideShaker_mzid_1_2_example/PeptideShaker_mzid_1_2_example.mzid.gz.

[2016-05-12 11:11] hbarsnes opened #29 "Error in PeptideLevelStatsObjectRule"
When running the current validator on the PeptideShaker mzid 1.2 example file I now get the following error:

[code]

However, the following CV terms are all there:

[code]

And MS:1002468 (PeptideShaker peptide score) is a child of MS:1002358 (search engine specific score for distinct peptides), so all should be ok? Note that this error did not show up in previous version of the validator.

[2016-05-12 11:57] lutzfischer commented on #13
@timosachsenberg yes that case is currently not really supported. What we could do is to extend the format to something like (K)&(Y)|(S)&(T). Only is there a cross-linker like that? And if it is does it have the same composition in both cases?

[2016-05-12 12:01] lutzfischer commented on #13
@sulezinha  Sorry for the confusion.
The example was a theoretical one - not currently used for any cross-linekr. DSS is currently defined with (K,S,T,Y,N-term)&(K,S,T,Y,N-term).
Meaning from and to K,S,T,Y or N-terminal without restriction as to what amino-acid is at the N-terminal.

As to whether the second amino-acid is a valid N-terminal depends on a lot of things - like whether your looking a

[2016-05-12 12:34] fghali commented on #4
I'm getting these errors when trying to validate the file using: mzIdentMLValidator_GUI_v1.4.16-SNAPSHOT

`
Message 1:
    Rule ID: PeptideLevelStatsObjectRule
    Level: ERROR
    Context(/MzIdentML/DataCollection/AnalysisData/SpectrumIdentificationList/SpectrumIdentificationResult/SpectrumIdentificationItem )
    --> The SpectrumIdentificationItem (id='SIR_3007_SII_2') element at /MzIdentML/Data

[2016-05-12 13:20] hbarsnes commented on #9
Thanks Andy. Now implemented in the updated PeptideShaker mzid 1.2 example file. :)

[2016-05-13 14:07] andrewrobertjones commented on #4
@germa Can you investigate Message 1, I can't obviously spot what is wrong with our file https://github.com/HUPO-PSI/mzIdentML/blob/master/examples/1_2examples/ProteoAnnotator/ProteoAnnotator_1_2.mzid.gz

In terms of Message 2, we decided to role back on this rule so it is no longer required, and can be safely deleted from mapping file:

Rule ID: SpectrumIdentificationList_must_rule

@fghali Messa

[2016-05-13 16:16] germa commented on #4
Message 1: PeptideLevelStatsObjectRule
The reason is that the EBI-OLS changed. I think the validation framework from the EBI, from which our validator inherits is not yet adapted to the new Open Lookup Service.

[2016-05-13 17:36] javizca commented on #4
Thanks @germa, I had not realised about this. In the last 2 weeks we had to update some of the OLS related libraries that are used in our tools because of this. We need to investigate this in detail.

[2016-05-13 18:19] ypriverol commented on #4
@germa we implemented the new ols-client and ols-dialog you can used them. Please they are here:

OLS-CLIENT https://github.com/PRIDE-Utilities/ols-client
OLS_DIALOG https://github.com/PRIDE-Toolsuite/ols-dialog

[2016-05-16 08:54] noedelta commented on #4
Hi,

Related with OLS too. Max from PSI-MI is updating the ontology-manager to the new version from OLS because it is needed for IntAct. I think it is a dependency for the validator framework too. Previously was hosted in the sourceforge svn with other tools https://sourceforge.net/p/psidev/svn/HEAD/tree/psi/tools/ontology-manager/ We are thinking that if you agree, it can be moved to GitHub under

[2016-05-16 08:59] javizca commented on #4
I think it is perfectly fine

[2016-05-18 15:20] andrewrobertjones commented on #28
We agree that either Unimod or XLMOD CV is fine

[2016-05-18 15:20] #28 closed

[2016-05-18 15:33] andrewrobertjones commented on #24
Overall agreement on call that this looks okay for now. Lutz will make proposal for CV terms for his software.

[2016-05-18 15:36] andrewrobertjones commented on #19
Think this is solved, please re-open if anything was missed.

[2016-05-18 15:36] #19 closed

[2016-05-18 15:40] andrewrobertjones commented on #13
@lutzfischer is going to update the CV with the n-term specs. Agree for now the theoretical case raised by @timosachsenberg is not needed at the moment

[2016-05-18 15:40] #13 closed

[2016-05-19 14:44] germa commented on #25
[CV-terms for PTM, PSM, peptide, protein and protein-group scores.docx](https://github.com/HUPO-PSI/mzIdentML/files/272801/CV-terms.for.PTM.PSM.peptide.protein.and.protein-group.scores.docx)

[2016-05-25 14:41] germa commented on #25
[CV-terms for PTM, PSM, peptide, protein and protein-group scores.docx](https://github.com/HUPO-PSI/mzIdentML/files/282210/CV-terms.for.PTM.PSM.peptide.protein.and.protein-group.scores.docx)

[2016-05-26 12:26] andrewrobertjones commented on #25
Thanks @germa for this.
I added some comments to the document, but there are still a few parts unclear to me. Perhaps we should discuss in detail on our next call

[2016-05-27 16:21] lutzfischer opened #30 "Encoding of cross-linker as part of SearchModifications"
Currently SearchModifications do not encode for separate sites of e.g. a cross-linker.
To circumvent this we could use the same method as we encode the peptide modifications. I.e. encode the cross-linker as one modification that holds the mass and the specificities for  one site and have a second 0 mass modification that encodes for the specificities second site of the cross-linker.

E.g. for BS3

[2016-05-31 12:34] germa commented on #29
Fixed in version 1.4.17

[2016-05-31 12:34] #29 closed

[2016-05-31 14:15] #14 closed

[2016-05-31 14:23] enetz opened #31 "Validator: too strict on "cross-link spectrum identification item" values"
The CV accession="MS:1002511" name="cross-link spectrum identification item" must have the same value for SIIs that represent a pair of cross-linked peptides.
Currently the validator only allows exactly two equal values, but we have 4 SIIs for the same cross-link when using isotope labelled linkers.

[2016-05-31 14:57] germa commented on #8
Solved now.

[2016-05-31 14:57] #8 closed

[2016-05-31 15:33] enetz opened #32 "Cross-Linking fragment annotations"
We are trying to implement fragment annotations for cross-linked peptides in OpenMS and uploaded an [example file here](https://github.com/HUPO-PSI/mzIdentML/blob/master/examples/1_2examples/crosslinking/OpenxQuest_example_added_annotations.mzid).
In the case of cross-linking we have fragments resulting from cleavages of both peptides in one spectrum. Therefore distributing the annotations between

[2016-05-31 16:04] mwalzer commented on #32
For any software it would not make much sense to rip apart the annotations to one spectrum - and puzzle it back together.  - Though this would solve the problem of denoting alpha/beta, not so for ci/xi ions.

[2016-05-31 16:09] mwalzer commented on #32
If we would decide to introduce CVs like frag: y ion - alpha, ... this would also add to the bloat of the file, as there would be more  ```<IonType>``` elements. This would also bloat the CV.

[2016-05-31 16:15] mwalzer commented on #32
**One idea** would be to allow strings in the values of ```<FragmentArray>``` elements and by convention let these strings be accessions to CVs defined in the ```<Measurement>```.

**The other** would be to introduce an additional abstraction of ```<FragmentArray>``` for ```<FragmentCVREFArray>```.  ```<Measurement>``` for these would have to be allowed to carry several cv, one for each possible t

[2016-06-01 08:42] #4 closed

[2016-06-01 09:05] andrewrobertjones commented on #32
We briefly discussed this in Ghent, and felt that it would be a lot of work for fairly minimal gain to get into mzid 1.2. The fragment ion annotation part isn't widely used anyway, and I would be happy to vote that for XL data it is not formally supported. At least for now. Thoughts?

[2016-06-01 12:25] mwalzer commented on #32
I would not mind if that's not formally supported if we could informally represent that. Problem is that it is quite unflexible on the array/measure site. So this would actually thwart the chance to take 'the last mile' with mzid only.
We could however do (informally) with a ```<ParamGroup>``` in ```<IonType>``` (right now cvParams only).

[2016-06-01 13:10] mwalzer commented on #32
A cleaner way would be an additional data type. Which I guess would be too much of an extra workload for v1.20, but for future reference I draft a proposal:
![fragarrcvtag](https://cloud.githubusercontent.com/assets/5859205/15710477/7d551706-280a-11e6-86b9-3293f0ce7bbb.png)
[code]

[2016-06-01 13:57] germa opened #34 "generic neutral loss term with value slot for the formula"
Should we define a generic neutral loss term as proposed by Steffen Neumann,
see https://sourceforge.net/p/psidev/mailman/psidev-ms-vocab/?viewmonth=201605&viewday=25

and should be the terms
id: MS:1002455 ! H2O neutral loss,
id: MS:1002456 ! NH3 neutral loss and
id: MS:1002457 !  H3PO4 neutral loss
then be made obsolete?

[2016-06-01 15:15] mwalzer commented on #21
In the telco I was referring to that: https://github.com/HUPO-PSI/psi-ms-CV/releases

[2016-06-01 15:20] mwalzer commented on #21
I just saw that Yasset already built github releases for the validator :smiley:

So for a better accessibility, we would just have to update the releases and link to the release site from the repository start page.

[2016-06-01 15:27] andrewrobertjones commented on #30
Discussed on the call today - generally this seems sensible, I will provisionally add this to the spec doc

[2016-06-01 15:30] andrewrobertjones commented on #31
Discussed the correct behaviour should be to check 2 or 4 having the same value --> 4 for the case of stable isotopes only

[2016-06-01 15:39] mwalzer commented on #32
As example for how this could work with userParams
[code]

[2016-06-01 15:45] mwalzer commented on #32
This could also work out with allowing for *strings* in ```<FragmentArray>```  (now only *double* values)

[2016-06-01 15:50] andrewrobertjones commented on #34
Agreed to this change

e.g.

<cvParam name = "neutral loss" value = "H2O"/>

@germa  Can you action this, and I will add this to the spec doc

[2016-06-01 16:02] mwalzer commented on #21
I updated the release to the current and fixed the link on the start page to the release page.
@germa if you could create a github release (https://github.com/HUPO-PSI/psi-ms-CV/releases/new) when you release a new version of the validator, welcome page will always point to the most recent validator.

[2016-06-08 14:19] germa commented on #34
Done in version 3.89.0 of psi-ms.obo

[2016-06-08 14:19] #34 closed

[2016-06-09 11:02] mwalzer commented on #31
@germa can you please add this to the validator?

[2016-06-09 12:59] germa commented on #31
@matthias The allowed value 4 is already added; in case it does not work, please send me an example file

[2016-06-09 14:45] mwalzer commented on #31
@germa thx Gerhard!

(btw, @matt... not my handle :smile: )

[2016-06-09 14:59] #31 closed

[2016-06-09 15:10] andrewrobertjones commented on #32
Agreed to add userParams to cover this case - I will action this change in the schema

[2016-06-09 15:10] #32 closed

[2016-06-09 15:19] andrewrobertjones commented on #30
Agreed to this encoding, I will add this to the spec doc

[2016-06-09 15:19] #30 closed

[2016-06-09 15:20] andrewrobertjones commented on #25
Proposal from Eric:
[PSI-MS_statisticEntries.xlsx](https://github.com/HUPO-PSI/mzIdentML/files/307250/PSI-MS_statisticEntries.xlsx)

term component definitions:
  - attribute			a general property of an entity (may be a statistic, or a more general property)
  - statistic			a derived numerical metric generally related to confidence in a result
  - PTM localization		related to the exact position of

[2016-06-09 15:46] andrewrobertjones commented on #25
Reviewed current structure, looks good overall.

Andy and Eric will continue to work on this and the mapping file

[2016-06-09 15:49] andrewrobertjones commented on #24
@germa - Can you update the validator to check the regex structure for Lutz examples.

[2016-06-09 16:36] edeutsch opened #35 "combined_fdr_1.2.mzid validation issues"
My CV term validator finds these issues with this file:
ERROR: cvParam distinct peptide-level q-value should have units, but it does not!
WARNING: MS:1001062 should be 'Mascot MGF format' instead of 'Mascot MGF file'
WARNING: MS:1001400 should be 'OMSSA xml format' instead of 'OMSSA xml file'
WARNING: MS:1002439 should be 'final PSM list' instead of 'final PSM list UNDER DISCUSSION'

the first err

[2016-06-09 16:44] edeutsch opened #36 "Validation issues for xiFDR-CrossLinkExample.mzid"
ERROR: cvParam anchor protein should have a value, but it does not!
ERROR: cvParam protein-pair-level global FDR has a value, but it should not!
ERROR: cvParam residue-pair-level global FDR has a value, but it should not!
WARNING: CV term MS:1002675 ('residue-pair-level global FDR') is not in the cv
WARNING: CV term MS:1002676 ('protein-pair-level global FDR') is not in the cv
WARNING: MS:1000563

[2016-06-09 17:08] edeutsch opened #37 "Validation issues with OpenxQuest_example.mzid"
ERROR: cvParam retention time should have units, but it does not!
ERROR: cvParam search engine specific score for PSMs has a value, but it should not!
WARNING: cvParam product ion intensity has a legal unit MS:1000131 but its name 'MS:1000131' should be 'number of detector counts'!
WARNING: MS:1002510 should be 'cross-link acceptor' instead of 'cross-link receiver'

[2016-06-09 17:17] edeutsch opened #38 "Validation issues with mzidLib_peaklist2a_plus_ecoli_versus_unimod_full_xtandem_fdr_threshold_groups.mzid"
ERROR: cvParam local FDR should have units, but it does not!
ERROR: cvParam q-value for peptides should have units, but it does not!
(the previous two may be errors in the CV itself?)

WARNING: MS:1001062 should be 'Mascot MGF format' instead of 'Mascot MGF file'
WARNING: MS:1001189 should be 'modification specificity peptide N-term' instead of 'modification specificity N-term'
WARNING: MS:1001330

[2016-06-09 17:20] edeutsch opened #39 "Validation issues with mzidLib_Rosetta2a_Ecoli_spectra_msgfplus_fdr_threshold_groups.mzid"
SchemaLocation is http://www.psidev.info/files/mzIdentML1.1.0.xsd
ERROR: cvParam PSM-level q-value should have units, but it does not!
WARNING: MS:1001062 should be 'Mascot MGF format' instead of 'Mascot MGF file'
WARNING: MS:1001189 should be 'modification specificity peptide N-term' instead of 'modification specificity N-term'
WARNING: MS:1002241 should be 'mzidLib:ProteoGrouper' instead of 'Pro

[2016-06-09 17:21] edeutsch opened #40 "Validation issues with mzidLib_rosetta_2a_uniprot_proteogrouped.mzid"
ERROR: cvParam product ion intensity should have units, but it does not!
ERROR: cvParam product ion m/z should have units, but it does not!
WARNING: MS:1001062 should be 'Mascot MGF format' instead of 'Mascot MGF file'
WARNING: MS:1001149 should be 'param: b ion-NH3 DEPRECATED' instead of 'param: b ion-NH3'
WARNING: MS:1001150 should be 'param: b ion-H2O DEPRECATED' instead of 'param: b ion-H2O'
W

[2016-06-09 17:25] edeutsch opened #41 "Validation issues with Panalyzer* files"
These files do not properly reference that they are mzIdentML 1.2. Mixed references to 1.1 and 1.2
<MzIdentML xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" id="" xsi:schemaLocation="http://psidev.info/psi
/pi/mzIdentML/1.1 mzIdentML1.1.0.xsd" creationDate="2014-06-03T14:54:40.852156Z" version="1.2.0" xmlns="http://psidev.info/psi/pi/mzIdentML/1.

[2016-06-09 17:30] edeutsch opened #42 "Referencing CVs"
Many/most of the mzIdentML files do not reference the CVs properly. All files should be checked and corrected.

I believe that the correct CV locations should be:
https://raw.githubusercontent.com/HUPO-PSI/psi-ms-CV/master/psi-ms.obo
https://raw.githubusercontent.com/bio-ontology-research-group/unit-ontology/master/unit.obo

Is that right? Corrections welcome.

[2016-06-09 17:38] edeutsch opened #43 "Validation issues with OpenxQuest_example_added_annotations.mzid"
ERROR: cvParam retention time should have units, but it does not!
ERROR: cvParam search engine specific score for PSMs has a value, but it should not!
WARNING: cvParam product ion intensity has a legal unit MS:1000131 but its name 'MS:1000131' should be 'number of detector counts'!
WARNING: CV term MS:100xxxx ('crosslink ion category') is not in the cv
WARNING: MS:1002510 should be 'cross-link acc

[2016-06-09 17:42] edeutsch opened #44 "Difference between two XLMOD files?"
What is the distinction between:
XLMOD-1.0.0.csv
XLMOD.csv

It would be nice to have a proper OBO file for my validator, but I could code up handling for csv. What does the Java validator do?

XLMOD-1.0.0.csv shows this:
XL:00001,Xlink:BS3,2,138.06807961,"(K,S,T,Y,Protein N-term)&(K,S,T,Y,Protein N-term)"

while XLMOD.csv shows this:
XL:00001,BS3,bis(sulfosuccinimidyl)suberate,https://www.thermofi

[2016-06-09 20:05] hbarsnes commented on #38
@edeutsch We have 'X!Tandem:expect' and 'X!Tandem xml format' in our PeptideShaker mzid 1.2 example file, but I don't think you get the same error for our file? (At least Gerhard's validator does not.) So could be some special formatting issue? We don't do anything special on our side though regarding the '!'.

[2016-06-09 20:10] edeutsch commented on #38
I agree. I believe that ! with no \ is the correct way to encode it in mzIdentML. I suspect the presence of the \! in the OBO file is an OBO syntax thing that should not be replicated to mzIdentML.

[2016-06-10 09:27] germa commented on #44
By some reasons, which I forgot, we decided to use at first onls the minimal version (Issue #20).
I created now an .obo file out of that Excel sheet.
@Lutz: Can you double check, if all is encoded ok (I added a definition for each cross-linker).

[2016-06-10 09:59] germa commented on #38
Yes in the .obo file there is X\!Tandem used, but in our data files one must use X!Tandem. The .obo file needs this backslash in the .obo file since otherwise the BioPortal validator will complain.

[2016-06-14 11:38] mwalzer commented on #42
I second that.  :+1:

[2016-06-14 12:48] andrewrobertjones commented on #39
@germa Please can we update the q-value term (below). Both of the units are wrong, I'm pretty sure there are no suitable units for a q-value.

Thanks Andy

[Term]
id: MS:1002354
name: PSM-level q-value
def: "Estimation of the q-value for peptide spectrum matches." [PSI:PI]
xref: value-type:xsd\:double "The allowed value-type for this CV term."
is_a: MS:1002347 ! PSM-level identification confidence

[2016-06-14 12:49] andrewrobertjones commented on #38
@germa

The units should also be removed from this one:

id: MS:1001250
name: local FDR
def: "Result of quality estimation: the local FDR at the current position of a sorted list." [PSI:PI]
xref: value-type:xsd\:double "The allowed value-type for this CV term."
is_a: MS:1001092 ! peptide identification confidence metric
is_a: MS:1001198 ! protein identification confidence metric
relationship: has_

[2016-06-14 12:50] andrewrobertjones commented on #35
Agree all FDR and q-value terms should not have any units - @germa can you check if there are other similar terms e.g. evalues and pvalues, PEP etc that have units. I don't think any of these should.
thanks

[2016-06-14 13:56] fghali commented on #40
I have update the example file. @edeutsch can you please re-run the validator. Thanks. Fawaz

[2016-06-14 13:56] fghali commented on #39
I have update the example file. @edeutsch can you please re-run the validator. Thanks. Fawaz

[2016-06-14 13:56] fghali commented on #38
I have update the example file. @edeutsch can you please re-run the validator. Thanks. Fawaz

[2016-06-14 13:56] fghali commented on #35
I have update the example file. @edeutsch can you please re-run the validator. Thanks. Fawaz

[2016-06-14 15:06] germa commented on #35
Removed the units from the FDR and q-value terms in version 3.90.0 of psi-ms.obo

[2016-06-14 15:06] germa commented on #39
Removed the units from the FDR and q-value terms in version 3.90.0 of psi-ms.obo

[2016-06-15 08:49] germa commented on #24
Shouldn't it be accession = Prot C.1 inside PDH 1.1 of PAG 3 (in the left figure) ?

[2016-06-15 11:09] julianu opened #47 "Crash of Validator (on invalid file)"
I get a reproducible crash of the validator (1.4.18) when trying to validate the attached file:[pia_testMzIdentML.mzId.gz](https://github.com/HUPO-PSI/mzIdentML/files/315992/pia_testMzIdentML.mzId.gz

The file is erroneous, but still the validator should not crash. After the last uncatched exception, the GUI stay where it is, pretending to do something.

This is the output on the console:

[2016-06-15 16:44] julianu commented on #47
This bug seems to be related to these lines in the mzIdentML inside the analysisSoftware, which should be correct:

`<ContactRole contact_ref="ORG_MSL">`
`  <Role>`
`    <cvParam cvRef="PSI-MS" accession="MS:1001267" name="software vendor"></cvParam>`
`  </Role>`
`</ContactRole>`

[2016-06-16 14:06] mwalzer commented on #47
I read there something about mzid 1.1 - is also related #41?

[2016-06-16 14:21] julianu commented on #47
crash is fixed and shows an error in 72ba158dbcb155135f1fdb8397b915236f6a67dc

[2016-06-16 14:21] #47 closed

[2016-06-16 15:05] andrewrobertjones commented on #44
@mwalzer agreed to rename or put in sub-folder

[2016-06-16 15:05] #44 closed

[2016-06-16 15:08] andrewrobertjones commented on #43
All solved

[2016-06-16 15:08] #43 closed

[2016-06-16 15:09] javizca commented on #41
I will contact Gorka

[2016-06-16 15:11] andrewrobertjones commented on #37
Solved

[2016-06-16 15:11] #37 closed

[2016-06-16 15:13] andrewrobertjones commented on #25
I have checked in the Excel file into the CV branch on GitHub but this needs a bit more work. @edeutsch  could you take another look next?

[2016-06-16 15:14] andrewrobertjones commented on #24
@lutzfischer can you re-check the validator to see if everything is now okay

[2016-06-16 15:53] mwalzer commented on #44
Thanks @germa for converting to obo. I added a readme to the subfolder, mentioning the active file is now the obo and csv should be versioned accordingly to help syncing up. Feel free to edit the README.md with instructions.

[2016-06-16 22:05] edeutsch commented on #25
Okay, I will take control of this file. I have done a little light editing, but my next goal is to get this integrated back into the CV. I am very concerned that this file and the main CV are diverging with every release that Gerhard does, and remerging is going to be painful.

I will need to do some testing first, but then I will contact @germa to synchronize a re-merge.

What shall we do about a

[2016-06-17 07:23] andrewrobertjones commented on #25
I think they already are flagged as deprecated in the term name,  or did we revert that? I would prefer for the definitions to say deprecated instead of term names. Mzid 1.1 exporters could find this irritating otherwise

[2016-06-20 09:01] akrogp commented on #41
Solved in commit d3504bfb519ee382109aa58d3dd7d59a87a672fe

[2016-06-20 09:01] #41 closed

[2016-06-21 18:00] edeutsch opened #51 "Validation issues with PeptideShaker_mzid_1_2_example.mzid"
Latest attempt to validate yields these problems:

WARNING: CV term MS:1002694 ('frag: precursor ion - CH4OS') is not in the cv
WARNING: MS:1002674 should be 'X500R QTOF' instead of 'frag: b ion - CH4OS'
WARNING: MS:1002686 should be 'OpenXQuest:wTIC' instead of 'frag: y ion - CH4OS'

Looks like attempts to use terms that were proposed but rejected.

[2016-06-21 18:02] edeutsch commented on #35
These issues remain today:
WARNING: MS:1001062 should be 'Mascot MGF format' instead of 'Mascot MGF file'
WARNING: MS:1001400 should be 'OMSSA xml format' instead of 'OMSSA xml file'
WARNING: MS:1002439 should be 'final PSM list' instead of 'final PSM list UNDER DISCUSSION'

[2016-06-21 18:07] edeutsch commented on #36
Validation errors found in today's version:
WARNING: MS:1000563 should be 'Thermo RAW format' instead of 'Thermo Raw file'
WARNING: MS:1002404 should be 'count of identified proteins' instead of 'count of identified protein'
WARNING: MS:1002511 should be 'cross-link spectrum identification item' instead of 'Cross-linked spectrum identification item.'
WARNING: MS:1002544 should be 'xi' instead of '

[2016-06-21 18:15] edeutsch opened #52 "Validation issues with OpenxQuest_example.mzid"
WARNING: XL:00002 should be 'DSS' instead of 'Xlink:DSS'

ERROR: cvParam retention time has an illegal unit accession number "second"!

The latter is complaining about this:
cvParam accession="MS:1000894" cvRef="PSI-MS" name="retention time" value="5458.13539999998" unitAccession="second" unitName="" unitCvRef="se"/>

The name is written in the accession. There is no name. Also in error the unitCv

[2016-06-21 18:15] edeutsch commented on #52
These same problems apply to OpenxQuest_example_added_annotations.mzid

[2016-06-21 18:17] edeutsch opened #53 "Validation issues with mzidLib_Rosetta2a_Ecoli_spectra_msgfplus_fdr_threshold_groups.mzid"
WARNING: MS:1002235 should be 'ProteoGrouper:PDH score' instead of 'mzidLib:ProteoGrouper:PDH score'
WARNING: MS:1002236 should be 'ProteoGrouper:PAG score' instead of 'mzidLib:ProteoGrouper:PAG score'
WARNING: MS:1002241 should be 'mzidLib:ProteoGrouper' instead of 'ProteoGrouper'

[2016-06-21 18:18] edeutsch commented on #53
Same applies to mzidLib_rosetta_2a_uniprot_proteogrouped.mzid

[2016-06-21 20:23] hbarsnes commented on #51
So what happened to these terms then? I guess I missed this discussion. The terms "frag: precursor ion - NH3" (MS:1001522) and "frag: precursor ion - NH3" (MS:1001522) still exist? (And the same for frag: b ion - H2O (MS:1001222) etc.)

What is the new correct way of annotating fragment ions with neutral losses? Is it correct that one should instead add multiple CV terms? One for the fragment ion

[2016-06-21 21:09] edeutsch commented on #51
I believe the new way of doing this is to have two terms, one is "frag: precursor ion" and the second is to have "neutral loss" with a value of "CH4OS". But I am hazy on the details. Maybe @andrewrobertjones knows exactly how this should look. I don't have an example myself.

Is this a topic that will be specifically addressed in the new specification?

[2016-06-22 07:20] julianu opened #54 "Validation of PIA examples"
Just asking, because they were left out before I uploaded the new versions:
@edeutsch Are the PIA examples validating for you now? these are MSGFplus_tandem.pia.1.2.mzid.gz and mouse_dataset_-_combination.pia.1.2.mzid.gz in multi_search and teh PIA_... in protein_inference.

[2016-06-22 10:34] germa commented on #51
Yes, we decided not to use the composed terms anymore, but two terms instead.
In the value of the term MS:1000336 (neutral loss) one must specify the type of the
neutral loss molecule, see issue #34

[2016-06-22 11:24] hbarsnes commented on #51
So would this then be the correct replacement for "frag: precursor ion - CH4OS"?

[code]

[2016-06-22 11:27] germa commented on #51
yes

[2016-06-22 11:33] hbarsnes commented on #51
OK, thanks. I will update our mzid exporter accordingly and upload a new PeptideShaker 2.0 example file.

[2016-06-22 15:56] edeutsch commented on #54
ah, thanks, here's what my CV validator finds:
INFO: Validating file 'PIA_Rosetta_peak_list_2a_+_Ecoli_spectra.mzid'
ERROR: cvParam delta m/z has a value, but it should not!
WARNING: MS:1001062 should be 'Mascot MGF format' instead of 'Mascot MGF file'

INFO: Validating file 'mouse_dataset_-_combination.pia.1.2.mzid'
ERROR: cvParam delta m/z has a value, but it should not!
WARNING: MS:1001062 shou

[2016-06-22 18:23] hbarsnes commented on #51
I've updated the PeptideShaker mzid 1.2 example file with what should be correct annotation of fragment ions with neutral losses.

@edeutsch Can you rerun your validator on the updated file to check?

@germa Seems like the validator also has to be updated to support neutral losses in this new format? As I get the following messages when using the new neutral losses annotation:

[code]

@germa Note

[2016-06-23 06:13] edeutsch commented on #51
Great! My validator is happy with all the CV terms. As a reminder it only checks that the terms in the document are internally consistent with the CV itself. It does not apply the mapping file rules.
I have also now updated the autogenerated docs using the latest file.

[2016-06-23 12:42] fghali commented on #53
I have update the example files. @edeutsch can you please re-run the validator. Thanks. Fawaz

[2016-06-23 12:43] fghali commented on #35
I don't see these issues in the file.

[2016-06-23 12:46] fghali commented on #39
Closed as a duplicate to https://github.com/HUPO-PSI/mzIdentML/issues/53

[2016-06-23 12:46] #39 closed

[2016-06-23 13:08] germa commented on #51
The mapping file is now also adapted to the generic 'neutral loss' term

[2016-06-23 13:08] #51 closed

[2016-06-23 13:13] germa commented on #42
yes, the https://raw.githubusercontent.com/... links are the correct ones.

[2016-06-23 13:13] #42 closed

[2016-06-23 13:15] germa commented on #38
The units are removed now from all FDR and q-value terms since version 3.90.0 of psi-ms.obo

[2016-06-23 13:17] germa commented on #52
It seems that these examples also violate the .mzid XML schema definition

[2016-06-23 13:25] germa commented on #35
Message 1:
    Level: ERROR
    --> Non-fatal XML Parsing error detected on line 102973
  Error message: cvc-pattern-valid: Wert '*' ist nicht Facet-gültig in Bezug auf Muster '[ABCDEFGHIJKLMNOPQRSTUVWXYZ?\-]{1}' für Typ '#AnonType_postPeptideEvidenceType'.

Message 2:
    Level: ERROR
    --> Non-fatal XML Parsing error detected on line 102973
  Error message: cvc-attribute.3: Wert '*' des Attrib

[2016-06-23 14:28] germa commented on #52
I think for the moment it would suffice to replace

	xsi:schemaLocation="http://psidev.info/psi/pi/mzIdentML/1.2.0 https://raw.githubusercontent.com/HUPO-PSI/mzIdentML/master/schema/mzIdentML1.2.0.xsd"
	xmlns="http://psidev.info/psi/pi/mzIdentML/1.2.0"

by
	xsi:schemaLocation="http://psidev.info/psi/pi/mzIdentML/1.2 https://raw.githubusercontent.com/HUPO-PSI/mzIdentML/master/schema/mzIdentML1.2.0.

[2016-06-23 16:05] julianu commented on #54
I uploaded updates of the files (#55), @edeutsch could you please check again?

[2016-06-23 17:44] edeutsch opened #56 "Duplicate mapping files"
There seem to be two mapping files in the repo. I have been using:

33846 Mar 31 12:43 cv/mzIdentML-mapping_1.2.0.xml

But this one seems larger and is perhaps the right one?
41666 Jun 23 10:38 validator/trunk/src/main/resources/mzIdentML-mapping_1.2.0.xml

If the one in cv/ is obsolete, we should either make sure they are sync'ed, or only have one copy.

Or would you let me know if there is an im

[2016-06-23 18:01] edeutsch commented on #35
Regarding fghali's "I don't see these issues in the file", perhaps there is confusion about which file we are talking about. There are two similarly named "combined" files. Here are the issues I see:

peptide_level_stats_examples/combined_fdr_1.2.mzid.gz
WARNING: MS:1001062 should be 'Mascot MGF format' instead of 'Mascot MGF file'
WARNING: MS:1001400 should be 'OMSSA xml format' instead of 'OMSSA

[2016-06-23 18:06] edeutsch commented on #38
I'm still seeing the following issues with this file:
mzidLib_peaklist2a_plus_ecoli_versus_unimod_full_xtandem_fdr_threshold_groups.mzid
WARNING: MS:1001330 should be 'X!Tandem:expect' instead of 'X\!Tandem:expect'
WARNING: MS:1001331 should be 'X!Tandem:hyperscore' instead of 'X\!Tandem:hyperscore'
WARNING: MS:1001401 should be 'X!Tandem xml format' instead of 'X\!Tandem xml file'
WARNING: MS:100

[2016-06-23 18:07] edeutsch commented on #53
This one is now fine, but the mzid****tandem file is not okay. Maybe not checked in or pushed?

[2016-06-23 18:07] #53 closed

[2016-06-23 18:15] edeutsch commented on #52
and:
Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/OpenxQuest_example.mzid, line 173, char 114
  Message: Datatype error: Type:InvalidDatatypeValueException, Message:Value 'file:///C:\MSData\S26_Yeast_RAW/aleitner_M1012_004.mzML' is NOT a valid URI .

Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/OpenxQuest_example.mzid, line 312, char 13
  Message: The key for identity constra

[2016-06-23 18:21] edeutsch opened #57 "Validation issues with OpenxQuest_example_added_annotations.mzid"
Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/OpenxQuest_example_added_annotations.mzid, line 7, char 37
  Message: Schema in mzIdentML1.2.0.xsd has a different target namespace from the one specified in the instance document http://psidev.info/psi/pi/mzIdentML/1.2.0.

Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/OpenxQuest_example_added_annotations.mzid, line 204, char 81
  M

[2016-06-23 18:32] edeutsch opened #58 "URI problem with mzidLib_peaklist2a_plus_ecoli_versus_unimod_full_xtandem_fdr_threshold_groups.mzid"
And this file doesn't pass my XML validator with these errors:

Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/mzidLib_peaklist2a_plus_ecoli_versus_unimod_full_xtandem_fdr_threshold_groups.mzid, line 352, char 146
  Message: Datatype error: Type:InvalidDatatypeValueException, Message:Value 'C:\Work\PSI\mzIdentML\ProteinInference\Rosetta2\tandem\peaklist2a_plus_ecoli_versus_unimod_full.xml

[2016-06-23 18:33] edeutsch opened #59 "URI problem with mzidLib_rosetta_2a_uniprot_proteogrouped.mzid"
Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/mzidLib_rosetta_2a_uniprot_proteogrouped.mzid, line 3474, char 72
  Message: Datatype error: Type:InvalidDatatypeValueException, Message:Value 'file:///Rosetta peak list 2a.mgf' is NOT a valid URI .

URIs may not have spaces in them according to my Xerces validator

[2016-06-23 18:59] edeutsch commented on #54
WARNING: MS:1001413 should be 'search tolerance minus value' instead of 'search tolerance minus valu'

rror at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/PIA_Rosetta_peak_list_2a_-_neat.mzid, line 3774, char 71
  Message: Datatype error: Type:InvalidDatatypeValueException, Message:Value 'Rosetta peak list 2a.mgf' is NOT a valid URI .

spaces not permitted.

[2016-06-23 23:14] edeutsch opened #60 "more structure in XLMOD.obo"
I think it would be very valuable to add some hierarchical structure to XLMOD.obo. right now there are no parents. I propose that we have a top-level term, perhaps similar to the PSI-MS top term:

[Term]
id: XL:00000
name: Proteomics Standards Initiative cross-linking controlled vocabulary
def: "Proteomics Standards Initiative cross-linking controlled vocabulary." [PSI:XL]

and then a child someth

[2016-06-24 06:14] edeutsch commented on #25
Okay, sorry for the delay, but I have re-merged the sheet into the CV. Here's the history as I understand it.

Using my script, I exported all the relevant terms and children that Gerhard listed in his document. This went into the Excel sheet. I took a broad hack at reorganizing everything as described above. Andy then spent some time with it as well. In the mean time, Gerhard has released from ne

[2016-06-24 15:03] lutzfischer opened #61 "Exclamation in names in XLMOD.obo"
I just wanted to add a cross-linker to the obo-file and when trying to check it with obo-edit I found, that it ignores everything in the name-field that comes after an exclamation mark.

Currently i had single site cross-linker modification named like
name: [cross-linker name]![Hydrolyzed|Amidated|...]
e.g.
name: BS3!Hydrolyzed

Only in obo-edit I see instead BS3 now three times - for the cross-li

[2016-06-24 15:15] lutzfischer opened #62 "def: in obo for cross-linker"
I was just adding BDP-NHP and I wanted to add
"Biotin Aspartate Proline n-hydroxyphthalamide cross-linker"
as the definition.
However for at least some entries we have seemingly IUPAC names as definition.
For DBP-NHP that appears to be:
4-{2-[(5-{[1-(3-carboxy-2-{4-[(1,3-dioxo-2,3-dihydro-1H-isoindol-2-yl)oxy]-4-oxobutanamido}propanoyl)pyrrolidin-2-yl]formamido}-1-({1-[(carboxymethyl)carbamoyl]-5-

[2016-06-24 16:24] edeutsch commented on #61
I would definitely encourage using a different notation that does not involve exclamation points, as these always need to be escaped in the obo format, which is awkward. If you can just as easily use a different symbol, I suggest that highly!

[2016-06-24 16:56] julianu commented on #54
And another new version, hopefully with less typos...

[2016-06-25 14:38] lutzfischer commented on #61
I agree with Eric. I assume the crosslink examples would need to be updated. Any other impact anybody can see for now?

[2016-06-27 13:32] germa commented on #61
I think beside noone is already using the XLMOD.obo. Maybe it would be made sende to use a colon instead of the exclamation mark.

[2016-06-27 16:48] lutzfischer commented on #61
I used a bit of a structured naming scheme:
Xlink:[Base name]:[label state]!modification

Would using another time colon be god/bad/confusing?

[2016-06-27 18:01] edeutsch commented on #61
First, I think all the Xlink: prefixes have been removed from the CV. I
think we agreed that we don’t need a prefix for every term in the CV. So I
think those should be removed.

Second, I don’t think making the name a complex parsable entity is the best
strategy here. It is my opinion that our CV terms should at least aspire
eventually to proper ontologies, and as such should be as natural as
pos

[2016-06-28 10:08] germa commented on #25
I now merged Eric's version psi-ms-new.obo.with the latest changes from our latest version (3.90.3).
The changes are recorded in the 'Changes to new version after merging.txt' file
Since Eric introduced some new terms I had to shift the ID's for the terms MS:1002668 until MS:1002686 to MS:1002688 until MS:1002706

[Changes to new version after merging.txt](https://github.com/HUPO-PSI/mzIdentML/fil

[2016-06-28 10:34] germa commented on #62
I think one should not use the IUPAC names as definition.
If one is puristic one would use the IUPAC name in the name field, "Biotin Aspartate Proline n-hydroxyphthalamide cross-linker" as definition and the the other names and the abbreviation as synonyms.

But in order to make it more readable for humans, I would propose to use the simpler "Biotin Aspartate Proline n-hydroxyphthalamide cross-lin

[2016-06-28 13:21] germa commented on #25
Here the files again with two further corrections:

[Changes to new version after merging.txt](https://github.com/HUPO-PSI/mzIdentML/files/337083/Changes.to.new.version.after.merging.txt)
[psi-ms-new.txt](https://github.com/HUPO-PSI/mzIdentML/files/337084/psi-ms-new.txt)

[2016-06-28 13:23] germa commented on #25
In case you are happy with the new version I can make an official release of both the .obo file and the mapping files from the validator.

[2016-06-28 21:41] edeutsch commented on #25
Hi Gerhard, I feel bad because it looks like I have unintentionally created a lot of extra work for you. I thought I was integrating my changes into the latest CV, but it looks like I was using an old one. I don't know how this happened, but it was not my intent.

I'm concerned that you shifted existing released IDs to make room for mine? ooo, it looks that way. So for example, you changed "supple

[2016-06-29 07:11] germa commented on #25
Hi Eric, not so dramatic. I corrected the shifted ID's and think it looks ok now.

[Changes to new version after merging.txt](https://github.com/HUPO-PSI/mzIdentML/files/338714/Changes.to.new.version.after.merging.txt)
[psi-ms-new.txt](https://github.com/HUPO-PSI/mzIdentML/files/338715/psi-ms-new.txt)

[2016-06-29 07:35] germa commented on #25
Hi Eric, you added the new term

[Term]
id: MS:1002696
name: neutral loss molecule
def: "Fragment ion is modified from its normal m/z due to a spontaneous loss of a the specified neutral molecule formula. This is used in conjuction with another ion type, such as frag: y ion." [PSI:PI]
is_a: MS:1002307 ! fragmentation ion type

Should this replace the old term

[Term]
id: MS:1000336
name: neutral l

[2016-06-29 09:09] germa commented on #60
maybe we can structure it even further like e.g.

[Term]
id: XL:00000
name: Proteomics Standards Initiative cross-linking controlled vocabulary
def: "Proteomics Standards Initiative cross-linking controlled vocabulary." [PSI:XL]

[Term]
id: XL:00001
name: cross-linking entity
def: "Entity relevant to the domain of cross-linking in proteomics." [PSI:XL]
relationship: part_of XL:00000 Proteomics Sta

[2016-06-29 11:06] lutzfischer commented on #60
Some points:

Don't think you could call that a cross-linker in the sense of XL:00002
Can we call it something along the lines of "cross-linker related PTM" or "cross-linker derived PTM"

Also

 trifunctional is ambiguous - you can have three groups on a cross-linker - but for some cross-linker that is used purification (e.g. biotin) on others that is just another group that is supposed to react w

[2016-06-29 11:13] lutzfischer commented on #61
I like the
is_a deuterium-labelled crosslinker

possibly with a parent term
"labelled cross-linker"

is_a amidated cross-linker
We had that discussion before -whether we want to add amidated versions of the cross-linker at all - because it is just one possible way to stop the reaction. And while I am not against having these in XLMOD as such - do we need to flag these up individually?

[2016-06-29 13:14] germa commented on #56
It seems there are much more old files in that folder:

DONT_USE_axml-mapping.xml
DONT_USE_psi-pi.obo
mzIdentML-mapping.xml
mzIdentML-mapping_1.1.0.xml
mzIdentML-mapping_1.2.0.xml
search_engine_outputs.xls
unimod.obo

and also the subfolder old and the files therein.

I propose to delete them.

[2016-06-29 15:16] mwalzer commented on #52
Yes, unit is a problem in the way we generate that cv element that slipped my attention.

[2016-06-29 15:18] andrewrobertjones commented on #24
@lutzfischer  would you mind reporting back if your files are now passing the validator and all seems okay? thanks Andy

[2016-06-29 15:22] mwalzer commented on #52
so, the version scheme of 1.2.0 to change to 1.2 is done readily, but @germa are there other schema violations my checker isnt telling me or was it that schema validation didnt find anything under 1.2.0?

[2016-06-29 15:24] andrewrobertjones commented on #35
@fghali Hi Fawaz, please can you check these out again please
thanks
Andy

[2016-06-29 15:32] mwalzer commented on #61
:+1: for the is_a notation and keeping hierarchy

[2016-06-29 15:33] andrewrobertjones commented on #61
Agreed that @germa will make this change.

[2016-06-29 15:36] andrewrobertjones commented on #61
@germa  will also insert intermediate parent terms for this

[2016-06-29 15:36] andrewrobertjones commented on #38
@fghali looks like one of our files still needs to be pushed, can you take a look, thanks

[2016-06-29 15:40] andrewrobertjones commented on #56
@germa - thanks, can you delete from the CV folder and add a README.txt explaining where to find them

[2016-06-29 15:40] #56 closed

[2016-06-29 15:45] andrewrobertjones commented on #60
Proposal seems reasonable, @germa  and @lutzfischer - please continue to work on this

Need to add lines to mapping file for linking to Unimod for regular mods and to XLMOD for these, so need appropriate branch node to link to. thanks Andy

[2016-06-29 15:50] andrewrobertjones commented on #62
We agree to follow @germa suggestion, and possibly include external URLs where possible as a reference

[2016-06-29 15:50] #62 closed

[2016-06-29 16:25] edeutsch commented on #25
The old term 336 is fine. My new proposed term can be discarded.

[2016-06-30 08:08] germa commented on #25
The new psi-ms.obo is released now and the mapping files of the mzIdentML validator are adapted.

[2016-06-30 08:08] #25 closed

[2016-06-30 14:25] fghali commented on #35
I have update the example file (peptide_level_stats_examples/combined_fdr_1.2.mzid.gz
). @edeutsch can you please re-run the validator. Thanks. Fawaz

[2016-06-30 14:36] fghali commented on #38
I have update the example file. @edeutsch can you please re-run the validator. Thanks. Fawaz

[2016-06-30 23:12] edeutsch opened #64 "schemaLocations are highly variable"
What should the approved schemaLocation be? The various example files have many different ones:

mzidLib_peaklist2a_plus_ecoli_versus_unimod_full_xtandem_fdr_threshold_groups.mzid -  `xsi:schemaLocation="http://psidev.info/psi/pi/mzIdentML/1.2 ../../../schema/mzIdentML1.2.0-candidate.xsd"`

OpenxQuest_example_added_annotations.mzid -     `xsi:schemaLocation="http://psidev.info/psi/pi/mzIdentML/1.2

[2016-06-30 23:20] edeutsch commented on #38
Looks fine now, except see issue #64 about schemaLocations.

[2016-07-01 12:14] fghali commented on #64
I have update all mzidLib examples files to match PeptideShaker_mzid_1_2_example.mzid.

[2016-07-01 12:14] fghali commented on #38
I've update the schemaLocations.

[2016-07-01 12:18] fghali commented on #59
Done.

[2016-07-01 12:18] #59 closed

[2016-07-01 14:09] mwalzer opened #65 "potential data duplication enticement (1.2)"
It seems to me as a potential point of confusion between
```SpectrumIdentification ... activityDate=``` and *Rule ID: SpectrumIdentificationList_may_rule*

(which recommends children of search statistics as cv elements in SIL {of which there are btw only 3: date / time search performed, search time taken, number of molecular hypothesis considered} )

[2016-07-01 14:19] julianu commented on #54
Please try to validate again, @edeutsch. I just checked, my last uploads are still valid with the newest validator (1.4.20) by Gerhard,
In the telco you said, it might be possible to also provide us with your validator as well?

[2016-07-05 10:53] mwalzer commented on #52
one warning remains though:
[code]
which comes from the rt cv at SII instead of at SIR, which is needed, because of referencing several spectra ...

[2016-07-05 10:54] mwalzer commented on #52
@andrewrobertjones @germa should this be reflected in the rules?

[2016-07-05 10:59] mwalzer commented on #57
Fixed these errors including the ones also in the plain QXQ example, however:
@germa I get one error which I cannot make sense of:
[code]
so it is actually symmetrical to the QXQ example without annotations, ```<Fragmentation>```elements  added

[2016-07-05 11:14] mwalzer commented on #57
fixed in PR #66 update

[2016-07-05 11:27] mwalzer commented on #64
I also changed the schemalocations for QXQ (see also https://github.com/HUPO-PSI/mzIdentML/issues/52#issuecomment-228067679)

[2016-07-05 16:28] edeutsch commented on #64
Is QXQ OpenXQuest? (OXQ?) Anyway, most files now seem fixed except the OpenxQuest files:

OpenxQuest_example_added_annotations.mzid -     xsi:schemaLocation="http://psidev.info/psi/pi/mzIdentML/1.2.0 https://raw.githubusercontent.com/HUPO-PSI/mzIdentML/master/schema/mzIdentML1.2.0.xsd"

OpenxQuest_example.mzid -       xsi:schemaLocation="http://psidev.info/psi/pi/mzIdentML/1.2.0 https://raw.github

[2016-07-05 16:30] edeutsch opened #67 "CV term Validation issues with PeptideShaker_mzid_1_2_example.mzid"
INFO: Validating file 'PeptideShaker_mzid_1_2_example.mzid'
WARNING: MS:1001364 should be 'peptide sequence-level global FDR' instead of 'distinct peptide-level global FDR'

[2016-07-05 16:32] edeutsch opened #68 "CV term Validation issues with combined_1.2.mzid"
INFO: Validating file 'combined_1.2.mzid'
ERROR: cvParam unknown modification should have a value, but it does not!

[2016-07-05 16:32] edeutsch opened #69 "CV term Validation issues with combined_fdr_1.2.mzid"
INFO: Validating file 'combined_fdr_1.2.mzid'
WARNING: MS:1002359 should be 'peptide sequence-level local FDR' instead of 'distinct peptide-level local FDR'

[2016-07-05 16:34] edeutsch commented on #36
After changes to the XLMOD CV, here is a revised list of CV issues with this file:

INFO: Validating file 'xiFDR-CrossLinkExample.mzid'
ERROR: cvParam anchor protein should have a value, but it does not!
ERROR: cvParam residue-pair-level global FDR has a value, but it should not!
WARNING: MS:1000563 should be 'Thermo RAW format' instead of 'Thermo Raw file'
WARNING: MS:1002404 should be 'count of

[2016-07-05 16:36] edeutsch commented on #52
CV validation issues today:

ERROR: cvParam retention time has an illegal unit second!
(word "second" in place of accession number)

WARNING: XL:00002 should be 'cross-linker related PTM' instead of 'Xlink:DSS'
(XL accessions changed!)

[2016-07-05 16:38] edeutsch commented on #57
Status today:
ERROR: cvParam retention time has an illegal unit second!
WARNING: XL:00002 should be 'cross-linker related PTM' instead of 'Xlink:DSS'
(see bug report for other OXQ file for more details on what the real problem is here)

[2016-07-05 16:41] edeutsch opened #70 "CV term Validation issues with mouse_dataset_-_combination.pia.1.2.mzid"
WARNING: MS:1001062 should be 'Mascot MGF format' instead of 'Mascot MGF file'

[2016-07-05 16:44] edeutsch commented on #54
These are all fine now.
Yes, I will see about making this available or doing a daily git pull and post the validation results where everyone can see them.

[2016-07-05 16:44] #54 closed

[2016-07-05 16:48] #61 closed

[2016-07-05 17:04] edeutsch commented on #52
also, in addition to the CV issues above, the XML name space is incorrect:

Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/OpenxQuest_example.mzid, line 7, char 37
  Message: Schema in mzIdentML1.2.0.xsd has a different target namespace from the one specified in the instance document http://psidev.info/psi/pi/mzIdentML/1.2.0.

[2016-07-06 09:41] mwalzer commented on #52
@edeutsch I have not merged the pull request yet, to leave the option to comment and my guess is you checked the master branch. In the PR, the issues should be resolved; [for example the seconds issue like this](https://github.com/HUPO-PSI/mzIdentML/pull/66/files#diff-c20a40dd28e60257b3216222e699b965R208)

@edeutsch but thank you for checking, could you check the two from the branch? Here are the

[2016-07-06 09:44] mwalzer commented on #57
I think these relate to files prior to https://github.com/HUPO-PSI/mzIdentML/pull/66

[2016-07-06 09:47] mwalzer commented on #64
Yes, sorry I abbreviated OpenXQuest with QXQ.
I think these relate to files prior to PR https://github.com/HUPO-PSI/mzIdentML/pull/66

Easy access to the files from the PR here:
https://github.com/HUPO-PSI/mzIdentML/issues/52#issuecomment-230726074

[2016-07-06 09:51] mwalzer commented on #57
I think these relate to files prior to PR https://github.com/HUPO-PSI/mzIdentML/pull/66 ?

Easy access to the files from the PR here:
https://github.com/HUPO-PSI/mzIdentML/issues/52#issuecomment-230726074

[2016-07-08 09:52] andrewrobertjones commented on #69
@fghali Fawaz would you mind solving this one and any others flagged on the issue list
Thanks Eric for spotting

[2016-07-11 09:55] #69 closed

[2016-07-12 14:36] germa commented on #60
- Finished initial restructured version of XLMOD.obo
- requested to include XLMOD.obo in OBOFoundry.github.io
  (see pull request https://github.com/OBOFoundry/OBOFoundry.github.io/pull/284)
- TODO: Include XLMOD.obo into the EBI Open Lookup Service

[2016-07-13 13:52] germa commented on #60
Had to change the identifiers from XL:nnnnn to XLMOD:nnnnn in order to avaoid name clashes, as reported by Chris Mungall, see https://github.com/OBOFoundry/OBOFoundry.github.io/pull/284

[2016-07-13 15:49] edeutsch commented on #60
okay, fine. This means all the XL example files will need to be changed.

[2016-07-14 12:39] andrewrobertjones commented on #35
@fghali There are also errors in the file multi_search/combined_1.2.mzid.gz, see Gerhard's and Eric's messages above.

The main parsing error relates to these types of error:

  <PeptideEvidence dBSequence_ref="dbseq_generic|YPL081W|" peptide_ref="KAEASGEAADEADEADEE_" start="180" end="197" pre="R" post="*" isDecoy="false" id="KAEASGEAADEADEADEE_generic|YPL081W|_180_197"></PeptideEvidence>

AND

[2016-07-14 12:42] andrewrobertjones commented on #68
This looks like an error in the CV to me:

[Term]
id: MS:1001460
name: unknown modification
def: "This term should be given if the modification was unknown." [PSI:PI]
xref: value-type:xsd\:string "The allowed value-type for this CV term."
is_a: MS:1001471 ! peptide modification details

Not obvious what is intended for the value slot. The use in file as follows looks okay:

  <Peptide id="LLMIIIDS

[2016-07-14 12:43] andrewrobertjones commented on #58
@fghali  Would you mind fixing these and try running the file past the latest mzid validator: https://github.com/HUPO-PSI/mzIdentML/releases

[2016-07-14 12:45] andrewrobertjones opened #71 "Validator issue due to lack of protein description lines"
In multi_search/combined_1.2.mzid, we get validatior errors due to missing protein descriptions caused by this rule:

Message 339:
    Rule ID: DBSequence_ProteinDescription_must_rule
    Level: ERROR
    Context(/cvParam/@accession ) in 4881 locations
    --> None of the given CvTerms were found at '/MzIdentML/SequenceCollection/DBSequence/cvParam/@accession' because no values were found:
  - The

[2016-07-14 12:52] andrewrobertjones opened #72 "Spectral library and de novo sequencing"
We have a minor error in the mapping file and docs, with regards to where terms should be used for spectral library search or de novo.

They should go in here instead of ms-ms search, and this is allowed according to the mapping file:
`    <SearchType>
      <cvParam cvRef="PSI-MS" accession="MS:1001083" name="ms-ms search"></cvParam>
    </SearchType>`

However, they are also allowed as Additiona

[2016-07-14 12:56] andrewrobertjones commented on #72
Further note - I just tried adding spectral library or de novo search terms to either or both of SearchType and AdditionalSearchParams, and in both cases I get an error if there are zero PeptideEvidences, so it looks like this rule has not been implemented yet.
@germa Please can you add this check so that if either term is present under SearchType, zero peptideEvidence is allowed.

thanks

[2016-07-14 13:09] fghali commented on #58
I have update the example file and changed '/' to '\' and removed the spaces from the file name.

[2016-07-14 13:20] fghali commented on #35
I have update both files replacing "*" with "-". I'll check the parsers to see where it's happening.

[2016-07-15 13:02] germa commented on #71
changed it to a may rule

[2016-07-15 13:02] #71 closed

[2016-07-15 13:22] germa commented on #72
term is now present under SearchType, zero peptideEvidence is allowed for de novo

[2016-07-15 13:22] #72 closed

[2016-07-15 13:24] germa commented on #68
Removed value slot for MS:1001460 (unknown modification) from psi-ms.obo

[2016-07-15 13:24] #68 closed

[2016-07-15 13:29] germa commented on #57
@mwalzer: Use of XLMOD:nnnnn instead of XL:nnnnn, see also GitHub issue #60

[2016-07-15 13:30] germa commented on #52
@mwalzer: Use of XLMOD:nnnnn instead of XL:nnnnn, see also GitHub issue #60

[2016-07-15 13:45] germa commented on #36
Should we allow also 'loop links', i.e. a cross-linking between the same peptide?
Lutz has some of them in his example files, but Figure 4 in the spec doc states:

In mzIdentML, they will be represented by different ProteinDetectionHypothesis(PDH) elements within different ProteinAmbiguityGroup(PAG) elements, sharing the same ID and score.

[2016-07-15 14:16] andrewrobertjones commented on #70
@julianu - can this one be closed now, or is it still live?

[2016-07-15 14:17] andrewrobertjones commented on #67
@hbarsnes  can you check if this is still live or can be closed?

[2016-07-15 14:21] andrewrobertjones commented on #65
I think this is okay, the term definition makes it clear that it is obsolete:

[Term]
id: MS:1001035
name: date / time search performed
def: "OBSOLETE: use attribute in mzIdentML instead. Date and time of the actual search run." [PSI:PI]
is_a: MS:1001184 ! search statistics
is_obsolete: true

[2016-07-15 14:21] #65 closed

[2016-07-15 14:35] andrewrobertjones commented on #60
@germa @edeutsch  Can we now close this thread? The new OBO looks sensible to me

[2016-07-15 14:36] andrewrobertjones commented on #36
@lutzfischer Can you update your xiFDR-CrossLinkExample.mzid so the CV term IDs and term names are correct

[2016-07-15 14:37] andrewrobertjones commented on #36
@germa - Loop links can be represented on peptides, and I think Lutz has some examples of these. At the protein-level, these could be represented as associations between different protein chains, if that is what the evidence supports. Others, correct me if I'm wrong

[2016-07-15 14:42] andrewrobertjones commented on #64
Hi all,
The style "http://www.psidev.info/files/mzIdentML1.2.0.xsd" would be perfectly good if the schema was actually there :-) Schema validators should be able to reach the file via the URL!

These URLs are also bad: https://raw.githubusercontent.com/HUPO-PSI/mzIdentML/master/schema/mzIdentML1.2.0.xsd

For now, can everyone @fghali  @mwalzer  @hbarsnes @mwalzer @smdb21  point their example files

[2016-07-15 14:42] andrewrobertjones commented on #52
@mwalzer  Can you fix all the issues and then close the issue. I would like to assemble all material for submission to PSI process next week.

[2016-07-15 14:43] andrewrobertjones commented on #72
@germa Can you also confirm that zero peptideEvidence is allowed for spectral library searches as well, where spectral library search is a valid term under SearchType?

thanks, Andy

[2016-07-15 14:47] julianu commented on #70
should be fixed with just merged #73
@edeutsch Could you verify this?

[2016-07-15 14:59] edeutsch commented on #64
Why not just actually put the current schema at  "http://www.psidev.info/files/mzIdentML1.2.0.xsd" ?

[2016-07-18 07:39] germa commented on #72
yes, also spectral library search (with zero peptideEvidence) is now allowed under SearchType.

[2016-07-18 09:04] andrewrobertjones commented on #64
@edeutsch I don't have a strong preference against moving the schema there, although I slightly prefer to wait until version 1.2 is signed off and released to avoid keeping this version and the GitHub version synced, unless there is a way for this to be done automatically.
Hopefully there will be very few if any changes to the file now anyway, although during the doc proc, some issues in documenta

[2016-07-18 11:36] germa commented on #60
yes, the restructuring of xlmod.obo is finished

[2016-07-18 11:36] #60 closed

[2016-07-18 12:42] andrewrobertjones opened #74 "Mapping rule for SearchModification"
The autogenerated specs tell me that no mapping rule is set for SearchModification. @germa can you add the same rule as per Modification i.e.

`        <CvMappingRule id="PeptideModification_must_rule" cvElementPath="/MzIdentML/SequenceCollection/Peptide/modification/cvParam/@accession" requirementLevel="MUST" scopePath="/MzIdentML/SequenceCollection/Peptide/modification" cvTermsCombinationLogic="

[2016-07-18 18:04] edeutsch commented on #70
Seems fine to me now, thanks!

[2016-07-18 18:04] #70 closed

[2016-07-18 18:05] edeutsch commented on #67
Latest validation yields this:
WARNING: MS:1001364 should be 'peptide sequence-level global FDR' instead of 'distinct peptide-level global FDR'
Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/PeptideShaker_mzid_1_2_example.mzid, line 145485, char 195
  Message: Datatype error: Type:InvalidDatatypeValueException, Message:Value 'C:\Users\hba041\My_Git_Applications\peptide-shaker.wiki\data\20

[2016-07-18 18:06] edeutsch commented on #64
okay.

[2016-07-18 18:06] #64 closed

[2016-07-18 18:11] edeutsch commented on #58
Today's validation says:
Validating for XSD conformation in file mzidLib_peaklist2a_plus_ecoli_versus_unimod_full_xtandem_fdr_threshold_groups.mzid

Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/mzidLib_peaklist2a_plus_ecoli_versus_unimod_full_xtandem_fdr_threshold_groups.mzid, line 348,
 char 146
  Message: Datatype error: Type:InvalidDatatypeValueException, Message:Value 'C:\Work\PSI\m

[2016-07-18 18:13] edeutsch commented on #57
Today's validation results:
WARNING: CV term XL:00002 ('DSS') is not in the cv

This needs to be XLMOD: as pointed out above.

[2016-07-18 18:13] edeutsch commented on #52
The only remaining issue I see still is the one mentioned above. XL: needs to be XLMOD:

[2016-07-18 18:14] #38 closed

[2016-07-18 18:17] edeutsch commented on #36
Latest validation run still shows all the above issues.

[2016-07-18 18:19] edeutsch commented on #35
This is is fine to my validators

[2016-07-18 18:21] edeutsch opened #75 "CV term Validation issues with combined_1.2.mzid"
This file now begins like this, which make my validators very sad. Only one preamble line is permitted:

<?xml version="1.0" encoding="UTF-8"?>
<?xml version="1.0" encoding="UTF-8"?>

[2016-07-18 18:24] edeutsch opened #76 "Validation issues with mzidLib_Rosetta2a_Ecoli_spectra_msgfplus_fdr_threshold_groups.mzid"
Validating for XSD conformation in file mzidLib_Rosetta2a_Ecoli_spectra_msgfplus_fdr_threshold_groups.mzid

Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/mzidLib_Rosetta2a_Ecoli_spectra_msgfplus_fdr_threshold_groups.mzid, line 11955, char 198
  Message: Datatype error: Type:InvalidDatatypeValueException, Message:Value 'E:\Work\PSI\mzIdentML\ProteinInference\Rosetta2\FASTAswithecoli\Roset

[2016-07-19 14:29] germa commented on #74
The mappign rule for SearchModification is now reactivated.

[2016-07-19 14:29] #74 closed

[2016-07-20 07:28] mwalzer opened #78 "Validator (v1.4.23) or mzIdentML-mapping_1.2.0.xml issue"
Validator still warns about RT cvParam presence in ```SpectrumIdentificationItem``` in the case of labeled cross-links.
(Multiple spectra in one ```SpectrumIdentificationResult```)

[code]

[2016-07-20 07:32] mwalzer commented on #78
I tried by adding:
[code]
 to the mzIdentML-mapping_1.2.0.xml but validator still stumbles on the cvParam
@germa would I have to add it somewhere else, too? NB the lowercase element names of SIR and SII in the xpath - this is how the validator reports it ...

[2016-07-20 07:51] mwalzer opened #79 "Validator question on the <schema> Element in <MzIdentML>"
Validator gives
[code]
if ```<schema>``` Element in ```<MzIdentML>``` used minimalistic:
[code]
So: Is it invalid to omit the namespace if default xmlns is given anyway?

Also, validator stops with
```Exception in thread "Thread-2" java.lang.NullPointerException``` when ```version="1.2.0-candidate"```

[2016-07-20 08:22] mwalzer commented on #57
fixed in #77

[2016-07-20 08:22] #57 closed

[2016-07-20 08:24] mwalzer commented on #52
fixed in #77

[2016-07-20 08:24] #52 closed

[2016-07-20 12:32] lutzfischer commented on #36
After update of the examples and the latest update of the validator (v1.4.23) the file seem to be ok now.

Only 3 Info messages are left:

[code]

I assume that this is acceptable for now and I am closing the issue

[2016-07-20 12:34] germa commented on #78
@mwalzer: solved in latest1.4.24 validator version. The correct rule is SpectrumIdentificationItem_may_rule, not CrosslinkingLabeledSII_may_rule
The case sensitivity results from the implementation in the underlying validation framework.

[2016-07-20 12:34] #78 closed

[2016-07-20 12:39] germa commented on #79
Because in mzIdentML1.2.0-candidate.xsd it's defined as targetNamespace="http://psidev.info/psi/pi/mzIdentML/1.2",
you must use that as first part of your schemaLocation:

xsi:schemaLocation="http://psidev.info/psi/pi/mzIdentML/1.2 https://raw.githubusercontent.com/HUPO-PSI/mzIdentML/master/schema/mzIdentML1.2.0-candidate.xsd"

[2016-07-20 12:39] #79 closed

[2016-07-20 12:43] germa commented on #24
The two examples from Lutz:
xiFDR-CrossLinkExample.mzid and
xiFDR-CrossLinkExample_single_run.mzid
are validate now, since loop-links are also allowed by the validator.

[2016-07-20 12:43] #24 closed

[2016-07-20 12:43] germa commented on #67
The PeptideShaker_mzid_1_2_example.mzid now also passes the Java validator.

[2016-07-20 12:51] mwalzer commented on #79
Yes, but if I define the default namespace of the xml like in the example above, I have already (the only) valid namespace. At least I could'nt find anything reading the W3C recommendations or W3schools, so I am curious.

[2016-07-20 12:57] mwalzer commented on #79
mh, partially selfanswering: [from here](https://www.w3.org/TR/xmlschema-1/#xsi.schemaLocation)
{target namespace}	The ·actual value· of the targetNamespace [attribute] of the parent <schema> element information item, or ·absent· if there is none.

seems to imply that it is no namespace definition for the XML but a reiteration of the referenced schema namespace.

[2016-07-20 12:57] germa commented on #35
Message 1:
    Rule ID: ProteinDetectionList_must_rule
    Level: ERROR
    Context(/cvParam/@accession ) in 2 locations
    --> None of the given CvTerms were found at '/MzIdentML/DataCollection/AnalysisData/ProteinDetectionList/cvParam/@accession' because no values were found:
  - The sole term MS:1002404 (count of identified proteins) or any of its children. A single instance of this term can b

[2016-07-21 08:58] fghali commented on #75
Fixed.

[2016-07-21 08:58] #75 closed

[2016-07-21 09:36] fghali commented on #35
Fixed.

[2016-07-21 09:44] fghali commented on #58
I've changed the URI to start with file:/// but I cannot tell if this fix the URI issue since I cannot reproduce it.

[2016-07-21 09:49] fghali commented on #76
I've changed the URI to start with file:/// but I cannot tell if this fix the URI issue since I cannot reproduce it.

[2016-07-25 11:42] andrewrobertjones commented on #67
@hbarsnes can you confirm if the CV term name problems flagged above have now been fixed, then we can close this issue. thanks

[2016-07-27 15:57] hbarsnes commented on #67
The CV term name has now been updated to the new correct name. I've also tried to correct the URI issues. The new file passes the validator v1.4.24-SNAPSHOT.

@edeutsch Can you verify that the URI issues are resolved as well?

[2016-07-27 21:54] edeutsch commented on #67
This file now appears fully valid according to my validators, thanks.

[2016-07-27 21:54] #67 closed

[2016-07-27 21:57] edeutsch commented on #76
This file now appears fully valid to me, thanks.

[2016-07-27 21:57] #76 closed

[2016-07-27 21:57] edeutsch commented on #58
This file appears fully valid now, thanks.

[2016-07-27 21:57] #58 closed

[2016-07-27 21:59] edeutsch commented on #35
This file seems valid to my validators. Not sure about the Java validator issue above.

[2016-07-27 22:02] edeutsch opened #80 "Validation issue with combined_1.2.mzid"
(not to be confused with combined_fdr_1.2.mzid)

Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/combined_1.2.mzid, line 50355, char 197

  Message: Datatype error: Type:InvalidDatatypeValueException, Message:Value '*' does not match regular expression facet '[ABCDEFGHIJKLMNOPQRSTUVWXYZ?-]{1}'.

Error at file /net/db/projects/PSI/mzIdentML/1.2/genDoc/combined_1.2.mzid, line 50402, char 198

[2016-07-27 22:08] edeutsch opened #81 "Validation issues with PAnalyzer_rosetta_2a_ecoli_uniprot.mzid"
ERROR: cvParam PAnalyzer:conclusive protein should have a value, but it does not!
ERROR: cvParam PAnalyzer:indistinguishable protein should have a value, but it does not!
ERROR: cvParam PAnalyzer:non-conclusive protein should have a value, but it does not!
ERROR: cvParam product ion intensity should have units, but it does not!
ERROR: cvParam product ion m/z should have units, but it does not!
WAR

[2016-07-27 22:11] edeutsch commented on #81
Pretty much all these issues apply to all PAnalyzer files:
PAnalyzer_rosetta_2a_ecoli_uniprot.mzid
PAnalyzer_rosetta_2a_uniprot.mzid
PAnalyzer_rosetta_2b_ecoli_uniprot.mzid
PAnalyzer_rosetta_2b_uniprot.mzid

Fix all the above errors and regenerate all of these, check them in, and I can revalidate for stragglers not in the above list.

Or if all of those files are not substantially different, maybe

[2016-07-27 22:15] edeutsch commented on #36
The following CV problems persist in this file:

ERROR: cvParam anchor protein should have a value, but it does not!
WARNING: MS:1000563 should be 'Thermo RAW format' instead of 'Thermo Raw file'
WARNING: MS:1002404 should be 'count of identified proteins' instead of 'count of identified protein'
WARNING: MS:1002511 should be 'cross-link spectrum identification item' instead of 'Cross-linked spect

[2016-07-28 06:10] edeutsch opened #82 "Validation issues with DTASelect-filter.mzid"
ERROR: cvParam family member protein should have a value, but it does not!

ERROR: cvParam normalized spectral abundance factor has a value, but it should not!

ERROR: cvParam PAnalyzer:ambiguous group member should have a value, but it does not!

ERROR: cvParam PAnalyzer:conclusive protein should have a value, but it does not!

ERROR: cvParam PAnalyzer:indistinguishable protein should have a valu

[2016-07-28 06:11] edeutsch opened #83 "Validation issues with ProteoAnnotator_1_2.mzid"
WARNING: MS:1001062 should be 'Mascot MGF format' instead of 'Mascot MGF file'

WARNING: MS:1001400 should be 'OMSSA xml format' instead of 'OMSSA xml file'

WARNING: MS:1002359 should be 'peptide sequence-level local FDR' instead of 'distinct peptide-level local FDR'

[2016-07-28 06:12] edeutsch opened #84 "Validation issues with xiFDR-CrossLinkExample_single_run.mzid"
ERROR: cvParam anchor protein should have a value, but it does not!

WARNING: MS:1000563 should be 'Thermo RAW format' instead of 'Thermo Raw file'

WARNING: MS:1002404 should be 'count of identified proteins' instead of 'count of identified protein'

WARNING: MS:1002511 should be 'cross-link spectrum identification item' instead of 'Cross-linked spectrum identification item.'

WARNING: MS:1002544

[2016-08-05 09:51] lutzfischer commented on #84
should be fixed now
I replaced "anchor protein" by "group representative" and corrected the names of the other ones

[2016-08-05 09:52] lutzfischer commented on #36
should be fixed now

[2016-08-05 17:51] edeutsch commented on #36
This one is still there..

Validating for conflicts with CV in file xiFDR-CrossLinkExample.mzid
WARNING: MS:1002511 should be 'cross-link spectrum identification item' instead of 'cross-linked spectrum identification item'

[2016-08-05 17:52] edeutsch commented on #84
This one is still there..

INFO: Validating file 'xiFDR-CrossLinkExample_single_run.mzid'
WARNING: MS:1002511 should be 'cross-link spectrum identification item' instead of 'cross-linked spectrum identification item'

[2016-08-19 11:56] lutzfischer commented on #84
new version of the xiFDR examples that have 'cross-link spectrum identification item' instead of 'cross-linked spectrum identification item'

[2016-08-19 11:56] #84 closed

[2017-03-21 22:01] mhoopmann opened #85 "Validator throws error if optional <AdditionalSearchParams> is missing"
According to the schema AdditionalSearchParams is an optional element of SpectrumIdentificationProtocol.

However, if AdditionalSearchParams is not specified, I get the following exception:
Exception in thread "Thread-5" java.lang.NullPointerException
        at psidev.psi.pi.validator.objectrules.AdditionalSearchParamsObjectRule.check(AdditionalSearchParamsObjectRule.java:81)
        at psidev.ps

[2017-03-21 22:47] smdb21 commented on #85
We should solve this by changing AdditionalSearchParamsObjectRule.java introducing a null check, from:
[code]
to
[code]

[2017-05-10 10:25] ypriverol opened #86 "Modification Scores encode in mzIDentML"
@andrewrobertjones can you point to the place that explain how we are encoding PTMs in localization score in mzIdentML?

[2017-05-10 14:55] andrewrobertjones commented on #86
Yup - Specification document for 1.2-release section 5.2.8

[2017-05-10 15:03] ypriverol commented on #86
Great, we have a couple of examples already in PRIDE that represents in mzIdentML 1.1 like:

<SpectrumIdentificationItem passThreshold="true" rank="1" peptide_ref="Pep17" calculatedMassToCharge="717.5849609375" experimentalMassToCharge="717.8302001953125" chargeState="4" id="SII_20_1">
      <PeptideEvidenceRef peptideEvidence_ref="PepEv_262235_17_1"></PeptideEvidenceRef>
      <cvParam accession=

[2017-05-18 11:26] andrewrobertjones opened #87 "Crosslink documentation fix needed"
Spotted by Eugen:

I noticed an inconsistency in the specification document on GitHub.
When it was decided to rename the second peptide for cross-links from
"receiver" to "acceptor", not all occurrences of "receiver"
have been updated. In the pdf version those are searchable with text search,
and there are also some in the docx in an embedded image of example mzid
file content and a table on page

[2017-06-22 08:24] julianu opened #88 "Link current specdoc 1.2 to the README"
The specification document on the landing page is still linked to Version 1.1.0
1.2.0 is now published and passed the spec-doc (right?), so should be linked here.

[2017-06-22 08:55] mwalzer commented on #88
Right. In any case, the page looks presents like a wall of text, could be a serious case of TL;DR for new visitors.

[2017-06-22 12:16] andrewrobertjones commented on #88
Do you mean on this page: http://www.psidev.info/proteomicsinformatics#mzIdentML?

Yes it needs updating, but my login doesn't seem to allow me to edit this page. @eisenachM  or @javizca  - Martin/Juan - can you fix this page?

[2017-06-22 12:20] mwalzer commented on #88
@andrewrobertjones I think Julian is referring the [Readme.md](https://github.com/HUPO-PSI/mzIdentML/blob/master/README.md) but that one needs updating, too.

[2017-06-22 12:22] andrewrobertjones commented on #88
Yes just spotted that, I will update the readme now

[2017-06-22 12:43] andrewrobertjones commented on #88
Updated Readme, let me know if you spot other pages that need fixing

[2017-06-22 13:52] julianu commented on #88
Jep, i meant the Readme.md
Thanks for fixing.

[2017-06-22 13:52] #88 closed

[2017-07-14 13:14] germa opened #89 "cvParam's with empty accession"
When a .mzid file has cvParam elements with an empty accession attribute, e.g.
	<cvParam accession="" name="protein description" cvRef="PSI-MS" value="immunoglobulin"/>
then the file is still valid against the .xsd schema definition file.

Maybe it would make sense to change the datatype from xsd:string to xsd:NMTOKEN ?

[2017-07-26 13:56] UKQIDA opened #90 "SpectrumIdentificationProtocol in mzid 1.2"
The cardinality of SpectrumIdentificationProtocol (SIP) in AnalysisProtocolCollection is 1 to infinity. What is the reason for this?
How do we implement the 'AdditionalSearchParams' (e.g. 'no special process') in each SIP in version 1.2 when there are multiple SIP?

Da

[2017-08-02 13:55] UKQIDA commented on #90
Answer from @andrewrobertjones :
For cases such as pre-fraction, multiple protocols are allowed, and these are linked from a reference via SpectrumIdentification. Multiple SIPs are rare, but I suppose we should support it. We would just put identical CV terms in each protocol. This is a point we should really clarify in the specs!

[2017-08-04 17:11] smdb21 opened #91 "accession attribute in DBSequence should be unique?"
When parsing example file https://github.com/HUPO-PSI/mzIdentML/blob/master/examples/1_2examples/crosslinking/xiFDR-CrossLinkExample.mzid, I find these 2 protein entries as DBSequence elements:
[code]

Although the protein entries are different (one is the decoy entry of the other), the **accession** attribute is the same.
My question is: should the accession attribute be unique? In the specificat

[2017-08-07 08:49] julianu commented on #91
I would definitely vote to have these accessions unique. Having the same accessions for differing entries is probably an error, and it leads to inconsistencies when mapping the peptides and PSMs to the proteins, in the given example.

[2017-08-16 13:08] lutzfischer opened #92 "XLMOD obo contains invalid property_value CID fragment"
property_value: CID fragment: "xxx" xsd:double
should be
property_value: CID_fragment: "xxx" xsd:double
or
property_value: CIDfragment: "xxx" xsd:double

The space does not appear to be valid.

[2017-09-03 20:59] smdb21 commented on #82
Hi Eric! I just see this here in the issue list that was posted long time ago.
I just run the latest version with this file and I am getting other errors:
[code]
Do you still want me to fix this?
It seems that we still have some issues that are not solved related to the example files.

[2017-09-06 14:30] UKQIDA opened #93 "Bugs in MzIdentML validator"
[55merge_omssa.mzid.zip](https://github.com/HUPO-PSI/mzIdentML/files/1281429/55merge_omssa.mzid.zip)
@germa

Hi Gerhard,

When I used MzIdentML validator to valid the attached file, I got the following messages. It seems that the only error message is a bug which isn't true about the file. Could you have a look at the issues please? I was using mzIdentMLValidator_GUI_v1.4.26-SNAPSHOT.

The followi

[2017-09-06 15:06] edeutsch commented on #82
Yes, please do fix. Although I haven't looked carefully enough, you should double check to make sure that the file is indeed incorrect. It is always possible that the file is correct but the validator (or mapping file) is wrong.

thanks!
Eric

[2017-09-06 22:11] smdb21 opened #94 "validator error that is not correct"
Hi @germa
I am trying to validate the attached file ([DTASelect-filter.zip](https://github.com/HUPO-PSI/mzIdentML/files/1282805/DTASelect-filter.zip)) and I get the error:
[code]
But as you can see in the file, the cvParam is actually present.

Note that I have pushed one minor modification in the _AdditionalSearchParamsObjectRule_ class to check whether AdditionalSearchParams in SIP is null or no

[2017-09-25 11:33] mesontau opened #95 "Exception thrown at launch in version 1.4.27"
I got an exception thrown when launching v 1.4.27 at a Windows 7 machine (Java version 1.8.0_144). See below the exception report:

[code]

I just downloaded the v1.4.27 snapshot and executed the bat file right away, so I am probably missing something very obvious. Any idea?

Thanks!
Pedro J.

[2017-09-25 16:37] smdb21 commented on #95
I got the same thing

[2017-09-29 17:15] UKQIDA commented on #95
Same here!

[2017-10-04 09:23] ciesinsk commented on #95
Same here.

[2017-10-04 09:26] ciesinsk opened #96 "Exporting Crosslink Modifications"
Hi.

I created an mzIdentML export that contains crosslinks. I get the following error in the validator:

Message 1:
    Rule ID: PeptideModification_must_rule
    Level: ERROR
    Context(/modification/cvParam/@accession ) in 312 locations
    --> The result found at: /modification/cvParam/@accession for which the values is  ''XLMOD:02126'' didn't match any of the 7 specified CV terms:
  - The so

[2017-10-04 15:21] andrewrobertjones commented on #96
Hi Frank,

Thanks for reporting. @germa  would you mind investigating?
best wishes
Andy

[2017-10-05 07:38] germa commented on #96
Hi Frank,

yes, should be ok.
Would it be possible that you send me the .mzid file for testing?

Regards,
Gerhard

[2017-10-05 08:17] ciesinsk commented on #96
Hi Gerhard.

Thanks for the quick response! I would be glad if I could help in any way.
Please find attached the file you requested.
BTW: Issue #95 (Exception throws when launching version 1.4.27 of the
validator) also affects me. Maybe with the newer version my output
would already work?

Cheers, Frank.

On Thu, Oct 5, 2017 at 9:38 AM, Gerhard Mayer <notifications@github.com>
wrote:

[2017-10-06 07:44] mesontau commented on #95
It looks then a general problem, and not a particular configuration issue at my computer. @germa @andrewrobertjones is there anything we are missing here?

[2017-10-06 11:41] germa commented on #95
Corrected in v1.4.28

[2017-10-06 11:41] #95 closed

[2017-10-06 12:11] germa commented on #96
Hi Frank,

the version 1.4.28 should start now without the Exception.

If the validation of your .mzid file still reports the Error from violated PeptideModification_must_rule
then please send me the .mzid file (I think you forgot last time to attach it).

Best wishes,
Gerhard

[2017-10-06 12:44] ciesinsk commented on #96
Hi Gerard.

Thanks, I will test it. :)

Cheers, Frank.

On Fri, Oct 6, 2017 at 2:11 PM, Gerhard Mayer <notifications@github.com>
wrote:

[2017-10-06 16:00] UKQIDA opened #97 "Validator bugs on Peaks mzid file"
The second line of mzid file exported from Peaks Studio 8.0 is a comment read as:
.
However, the validator reports the file 'is not a mzIdentML file.‘
The logic of the codes lies in makeBasicXMLFileChecks(File xmlFile) function of MzIdentMLValidator.java.
It expects <MzIdentML at the second line of the file.
It would be easy to skip any comment line by conditional statement.

Thanks,
Da

[2018-01-26 10:26] UKQIDA opened #98 "Unanticipated CV terms from validator"
Hi Gerhard,

When I run the validator on mzIdentML v1.2 files, the following warning messages were given:

I am pretty sure that those CV terms are correct defined in 1.2 specification document page 24 section "Guidelines for encoding proteogenomics results".

Thanks,
Da

[2018-02-26 09:58] lutzfischer opened #99 "mzIdentML validator and zero or negative FDR"
The validator appears to complain about

<cvParam accession="MS:1002677" cvRef="PSI-MS" value="8015.a:216:-0.45454545272727276:true" name="residue-pair-level global FDR"></cvParam>
And also about
<cvParam accession="MS:1002677" cvRef="PSI-MS" value="8015.a:216:0:true" name="residue-pair-level global FDR"></cvParam>

The usually used formula for fdr-calculation with cross-links is:
FDR = (TD-DD)/TT

[2018-05-22 22:27] mhoopmann opened #100 "Redundancy of cross-links in the <Peptide> element"
I have a few questions with mzIdentML 1.2 and cross-linking implementation. I have also been using the validator to try to understand what is going on when implementing 1.2 on cross-linked database search results generated in-house.

I have collected multiple spectra for the sample precursor ion, and the search results present the same cross-linked pair of peptides as a PSM. In other words: multip

[2018-05-23 09:12] andrewrobertjones commented on #100
To me this sounds like a bug in the validator, can you post an example mzid file for us to take a look at

[2018-05-23 21:20] mhoopmann commented on #100
Sure thing: https://regis-web.systemsbiology.net/PublicDatasets/mikeh/mzID/test.mzid

Please note that our in-house implementation is still a work-in-progress for cross-linking. That being said, the redundancy issue is quite apparent.

Thanks much!

[2018-05-25 14:58] germa opened #101 "AnalysisSampleCollection"
Shouldn't we make the <AnalysisSampleCollection> element mandatory?

Currently it's facultative, but it has a mandatory child element <Sample>,
so effectively <AnalysisSampleCollection> also must be present.

Sometimes I see in PRIDE uploads .mzid files with missing <Sample> elements,
I assume because some implementers wrongly interpreted that <Sample> must not be there because AnalysisSampleColle

[2018-06-08 09:15] germa commented on #100
Dear Mike,

Sorry for the late reply.
In general we want to avoid redundancy in mzIdentML whenever possible.
Therefore also cross-linked peptides should only be listed once in the <Peptide> elements.

1. For example in the following I listed all SpectrumIdentificationItems with value=”2301” for the cvParam MS:1002511.
The first two reference the peptides "Pep5238" and "Pep5237", which again have f

[2018-06-08 09:17] germa commented on #100
[Hoopmann_ERROR_Report.docx](https://github.com/HUPO-PSI/mzIdentML/files/2083763/Hoopmann_ERROR_Report.docx)

[2018-07-21 14:55] colin-combe opened #102 "Peptide <-> PeptideEvidence relationship - is this valid?"
Hi,

my example refers to file /examples/1_2examples/crosslinking/xiFDR-CrossLinkExample.mzid,
which is currently passed by the validator.

If you search for the peptide with id "54604449_54604449_6_6_p0",
then it seems to be missing any associated PeptideEvidence element.

Also, if you then go to its occurrence within a SpectrumIdentification (SII_3312_2),
then search for the peptideEvidence_ref

[2018-07-23 11:13] colin-combe opened #103 "validator check for start and end att's of PeptideEvidence"
Hi,
this came up in this context - https://groups.google.com/forum/#!topic/simxl/UOqJp8NK-70

Could the validator require the start and end attributes of PeptideEvidences to be present if the SearchType is not  MS:1001010 (de novo search)? I think this would be in line with the specification (6.49)?

Also, it seems like SIM-XL's mzIdentML output should be included as an example of cross-linking da

[2018-07-23 16:15] colin-combe commented on #100
for what its worth, I also think the file is correct in this respect but get unwarranted errors from v1.4.29 of the validator

@mhoopmann - its missing its start and end values for PeptideEvidences, they're required if not from a de novo search, right?
(https://github.com/HUPO-PSI/mzIdentML/issues/103)

[2018-07-24 13:44] colin-combe commented on #96
Seems like this could be closed?

[2018-07-24 14:06] germa commented on #100
Should be solved now by new version mzIdentMLValidator_GUI_v1.4.30-SNAPSHOT.zip

[2018-07-24 14:06] germa commented on #96
done.

[2018-07-24 14:06] #96 closed

[2018-07-24 16:04] colin-combe commented on #100
No, I don't think so.

I think the validator is now passing files where there are 4 SpectrumIdentificationItems containing an MS:1002511 cv param with the same value *within a single SpectrumIdentificationResult*.

So the validator has just changed from failing valid files to passing invalid files?

[2018-07-24 16:17] colin-combe opened #105 "Validator passes four MS:1002511 with the same 'value' within single SIR? [EDIT - this is correct]"
I think the fix for #100 changed the validator from failing valid files to passing invalid files?

I think the validator is now passing files where there are 4 SpectrumIdentificationItems containing an MS:1002511 cv param with the same value within a single SpectrumIdentificationResult.

So the problem's still there. Can't reopen the closed issue so making new one.

[2018-07-24 16:29] colin-combe opened #106 "validator gives different results second time its run"
this seemed a bit mysterious to me...
using validator v1.4.30 to validate the file in pull request #104,
it fails because XLMOD now needs to be lower case.

However, if I click the Validate button a second time I get different results.

The following error is missing second time round:
Message 2:
    Rule ID: PeptideModification_must_rule
    Level: ERROR
    Context(/modification/cvParam/@accessi

[2018-07-27 08:52] colin-combe commented on #105
OK... something I wasn't aware of from the specification:
"In the case, of “light” and “heavy” cross-linked peptides, there SHOULD
be exactly four <SpectrumIdentificationItem> elements, all sharing the same identifier under “cross-link spectrum
identification item”"

So, wrong when wrote the title to this issue.

But i'm still not sure about the code here https://github.com/HUPO-PSI/mzIdentML/blob

[2018-07-27 09:03] colin-combe commented on #105
I can't test what's happening because I'm struggling to build the validator.

Maven is complaining: The following artifacts could not be resolved: psidev.psi.tools:validator:jar:2.0.7, uk.ac.ebi.jmzidml:jmzidentml:jar:1.1.9, psidev.psi.tools:xxindex:jar:0.14:

Could easily be another error by me.

[2018-07-27 09:10] colin-combe commented on #100
@germa - yeah, sorry, there were some things I was unaware of when i wrote that previous post, see #105

[2018-08-21 16:12] mobiusklein opened #107 "SoftwareName cannot be valid with "custom unreleased software""
The `SoftwareName` element the specification must contain a single parameter that names a term descended from `analysis software`, which makes it impossible to generate a semantically valid document if the software used does not have an entry in the controlled vocabulary.

The natural term to use when describing unreleased software is MS:1000799, "custom unreleased software tool", but it is only c

[2018-09-05 15:19] andrewrobertjones commented on #107
hi Joshua,

In terms of the first point, you can get a software name added to the CV fairly easily, even if the software is not released yet, please just email a request to psidev-ms-vocab@lists.sourceforge.net, or put your request here and we will handle it.

In terms of the second point, it looks like this is an artefact of how the spec doc was generated, it should be an 1:1 cvParam or userParam

[2018-09-05 15:21] andrewrobertjones commented on #106
Hi Colin,

Did you ever get these resolved? I haven't been following these issues for a while, so apologies that some have fallen down the cracks.
cheers
Andy

[2018-09-05 15:22] andrewrobertjones opened #108 "Spec doc problem on SearchDatabase"
As spotted by Andrew C and Gerhard, there are a few issues (mostly in the spec doc) relating to SearchDatabase and its cvParams, which need to be resolved. We should put out a minor update on the spec doc and make the change in the mapping file

I think there are 3 problems here:

1) The "Example cvParams" given in the specification document for <DatabaseName> are wrong,
  since they should be cvP

[2018-09-07 12:41] germa commented on #92
done.

[2018-09-07 12:41] #92 closed

[2018-09-10 14:03] germa commented on #101
Shouldn't we make the element AnalysisSampleCollection mandatory?

Currently it's facultative, but it has a mandatory child element Sample,
so effectively the element AnalysisSampleCollection also must be present.

Sometimes I see in PRIDE uploads .mzid files with missing Sample elements,
I assume because some implementers wrongly interpreted that must not be there because AnalysisSampleCollection

[2018-09-10 14:05] germa commented on #99
Hi Lutz,

seems something was lost in your comment.
Can you please specify what were the validator complaints?

[2018-09-10 16:58] edeutsch commented on #101
I don't know about this particular case, but in general in PSI XML formats (and XML schema) it is permissable to have a required subelement of an optional element. And this means that if the optional element is present, then it MUST have the required subelement. But if the optional element is left out, then there is no subelement. In others words, a required subelement does NOT imply that the pare

[2018-09-11 13:45] germa commented on #85
Solved in mzIdentMLValidator_GUI_v1.4.31-SNAPSHOT

[2018-09-11 13:45] #85 closed

[2018-09-11 13:45] germa commented on #97
Solved in mzIdentMLValidator_GUI_v1.4.31-SNAPSHOT

[2018-09-11 13:45] #97 closed

[2018-09-11 13:45] germa commented on #98
Solved in mzIdentMLValidator_GUI_v1.4.31-SNAPSHOT

[2018-09-11 13:45] #98 closed

[2018-09-11 13:46] germa commented on #103
Solved in mzIdentMLValidator_GUI_v1.4.31-SNAPSHOT

[2018-09-11 13:46] #103 closed

[2018-09-11 13:46] germa commented on #106
Solved in mzIdentMLValidator_GUI_v1.4.31-SNAPSHOT

[2018-09-11 13:46] #106 closed

[2018-09-11 14:10] germa commented on #93
It seems like the Flaw error
    Context(Flaw in the rule definition: PeptideModification_must_rule )
is caused by the used validator-2.0.9.jar library

[2018-09-11 14:35] germa commented on #108
isRepeatable in the mapping rule SearchDatabaseDatabaseName_may_rule is now set to false

[2018-09-11 14:40] germa opened #109 "Cardinality of paramGroup for ProteinDetectionList in mzIdent1.2"
The cardinality of the paramGroup for the ProteinDetectionList should be set to 1..infinity, since according to the mzIdentML1.2 spec doc
"The <ProteinDetectionList> MUST contain the CV term “count of identified proteins” value= “xsd:integer” (MS:1002404). The value MUST be derived from the count of PAGs passing the threshold reported"

[2018-09-12 01:10] mobiusklein commented on #107
In that case, would using a userParam in `<SoftwareName>` be semantically valid?

To register a new term, beyond the term's name and definition, and perhaps a DOI, what else do I need to provide? I'm actually working with data produced by a tool that was published, but not by me, so I don't know the etiquette for registering terms for other peoples' work.

[2018-09-13 13:03] germa commented on #107
Hi Joshua,

even the software is not from you, you can request at  psidev-ms-vocab@lists.sourceforge.net a term for it to be included in CV.

[2018-09-13 13:04] germa commented on #99
Hi Lutz,
optimally you sent me a short example file, so that I can see what's the problem.

[2018-09-13 13:51] germa commented on #108
spec doc updated

[2018-09-13 13:51] #108 closed

[2018-09-13 13:55] germa commented on #93
Fixed in mzIdentMLValidator_GUI_v1.4.31-SNAPSHOT

[2018-09-13 13:55] #93 closed

[2018-09-18 07:57] germa commented on #100
I think the problem is that there can be not only pairs of SpectrumIdentificationItems (SII's) containing a MS:1002511 CvParam with the same value in the SII's of the same SpectrumIdentificationResult (SIR), for two reasons:

First, if one uses isotope labelled linkers there can occur four SII's with the same value.

Secondly, the SII's can also occur multiple times because of the charge states.

[2018-09-19 09:53] colin-combe commented on #100
hi - thanks for reply, I agree that some cross-linking use cases are not fully worked out in the current version of the spec.

I'm now confused about how charge states are dealt with even in the simple case:

I don't know, but it looks to me like this isn't the case? Statements in spec doc like "chargeState MUST be identical over both SII elements" imply to me that if charge state was different it

[2018-09-19 10:15] colin-combe commented on #103
Thanks!

[2018-09-25 08:06] colin-combe commented on #100
Hi again,

I'm going to mention some people who might be able to help with the preceding question -  whether the SII pairs (linked by same MS:1002511value) can occur multiple times because of different charge states:

@lutzfischer , @lars-kolbowski, @andrewrobertjones

Any ideas folks?

@germa, as before, if you can point to something that indicates it works as you say then that would also help re

[2018-09-26 14:02] germa commented on #100
OK, I think you're right: according to the explanation for Feature D in Figure 3 in the spec doc "The ... and chargeState MUST be identical over both SII elements,"
the  MS:1002511 values for different charge states must be indeed different.
So I will change the validator to check this and to allow only 2 resp. 4 (for isotope labelled linkers) SII's with the same value for the MS:1002511 cvParam.

[2018-09-26 14:06] germa commented on #102
Hi Colin,

yes I too think that both cases should not occurs. I'll add a check for this in the validator.

Cheers,
Gerhard

[2018-09-26 14:13] colin-combe commented on #102
OK, thanks for looking at this,
Colin

[2018-10-08 14:03] germa commented on #100
adapted in version mzIdentMLValidator_GUI_v1.4.32-SNAPSHOT

[2018-10-08 14:03] #100 closed

[2018-10-08 14:04] germa commented on #102
added checks in version mzIdentMLValidator_GUI_v1.4.32-SNAPSHOT

[2018-10-08 14:04] #102 closed

[2018-10-08 14:04] germa commented on #105
adapted in version mzIdentMLValidator_GUI_v1.4.32-SNAPSHOT (see also issue #100)

[2018-10-08 14:04] #105 closed

[2018-10-09 17:45] mobiusklein commented on #107
If the semantics of the `<SoftwareName>` are working as intended, then I think this issue has been closed. The CV terms I submitted have been added via the mailing list.

[2018-10-17 14:43] #107 closed

[2019-04-25 15:32] chambm opened #110 "Most files have invalid schema locations"
Most mzIdentML files, including the example files, have a schemaLocation attribute like:
`xsi:schemaLocation="http://psidev.info/psi/pi/mzIdentML/1.1 http://www.psidev.info/files/mzIdentML1.1.0.xsd"`

That second URL should actually resolve to the schema file. Right now it's a 404. Who could fix the website so those links aren't errors? The alternative is fixing all the existing mzIdentML files th

[2019-05-22 14:08] prvst opened #111 "can't launch the validator"
Hi,

I need some assistance with the mzID validator. I'm trying to run it on Linux.

command:
`java -Xms2048m -jar mzIdentMLValidator-1.4.34-SNAPSHOT.jar`

error:
`Error: Unable to initialize main class psidev.psi.pi.validator.MzIdentMLValidatorGUI`

[2019-07-02 15:00] andrewrobertjones commented on #111
@germa  Gerhard, would you mind responding to this one?

[2019-07-02 15:02] andrewrobertjones opened #112 "Mod scores - problem reporting a combined score for multiple sites"
Ville Koskinen is working on mzIdentML 1.2 export from Mascot and reports this issue:

we're looking at what changes are needed to export mzIdentML 1.2 from Mascot Server. One problem we've encountered so far is with site localisation scores. Here's an example query with two modifications and multiple permutations (scroll to the bottom of page):
http://www.matrixscience.com/cgi/peptide_view.pl?fil

[2019-07-02 15:08] germa commented on #111
If you use Java 8, please try:
java -Xms2048m -cp .\lib -jar mzIdentMLValidator-1.4.34-SNAPSHOT.jar

For Java 9, 10, 11 try
java -Xms2048m --add-modules java.xml.bind -cp .\lib -jar mzIdentMLValidator-1.4.34-SNAPSHOT.jar

[2019-07-09 13:41] prvst commented on #111
I have Java 11:
[code]

I tried his:
`java -Xms2048m --add-modules java.xml.bind -cp .\lib -jar mzIdentMLValidator-1.4.34-SNAPSHOT.jar`

and got this:

[code]

[2019-07-16 11:23] germa commented on #111
Sorry, my mistake. The old version mzIdentMLValidator-1.4.34-SNAPSHOT.jar ran only with Java 9 and 10.

I compiled now a new version, which runs with Java 11 and 12:
java -Xms2048m -cp .\lib -jar .\mzIdentMLValidator-1.4.35-SNAPSHOT.jar

You can start it with run.bat after you adapted the variable JAVA_HOME pointing to your Java installation.

[2019-07-25 13:49] prvst commented on #111
Got a different error now, same JDK as I described above:

[code]

[2019-08-13 12:54] germa commented on #111
I think the problem is that you the old Java 11, see https://stackoverflow.com/questions/9170832/list-of-java-class-file-format-major-version-numbers
Please try again with Java 12, e.g. from https://jdk.java.net/12/ or https://www.oracle.com/technetwork/java/javase/downloads/jdk12-downloads-5295953.html

[2019-11-29 20:01] tjeerdijk opened #113 "Small part of window cut off on righthand side"
See included picture. Run on MacOS 10.13.6 but saw similar problem under Ubuntu 14.04.
![Screen Shot 2019-11-29 at 18 12 54](https://user-images.githubusercontent.com/26492048/69888303-663b5380-12eb-11ea-81d8-e1165a6cb74a.png)

[2019-12-18 10:36] colin-combe commented on #91
I would vote for them not being unique.

First, there is the decoy/target example above. More generally, proteins can have the same accession number and different sequences - this is why we're not all clones, right?

If the example above leads to inconsistencies then it is an error in the software reading the file, because the id attributes are different?

[2019-12-18 14:58] lutzfischer commented on #91
I also think they should be same - it is the decoy counter part for the target - and, unless we have a standard way to denoting them as target decoy pair, I would actually ask for them to have same accession.

Being able to match these up is important for FDR-estimations, as only this way you can make a meaningful separate (target decoy based) FDR for self/internal/intra vs between/inter.

[2020-01-22 14:40] prvst commented on #111
sorry for the long delay. We have Java 11 (openjdk version "11.0.5" 2019-10-15) on our systems, I would like to avoid changing that. I'm still having issues with the validator:

[code]

I did some [digging](https://stackoverflow.com/a/52502208) and apparently java.xml.bind is deprecated since Java 9 and was removed from Java 11. The link contains a fix for the issue as well.

[2020-01-22 14:55] germa commented on #111
@Felipe: can you please try without --add-modules java.xml.bind :
java -Xms2048m -cp .\lib -jar mzIdentMLValidator-1.4.35-SNAPSHOT.jar

[2020-02-26 20:23] nicorellius commented on #111
I'm seeing the same problem here... Validator version 1.4.35 failing to launch on Ubuntu 18.04, Java 11.0.6:

Setting JAR as executable and running:

`java -jar mzIdentMLValidator-1.4.35-SNAPSHOT.jar`

fails with the following error:

    Error: LinkageError occurred while loading main class
    psidev.psi.pi.validator.MzIdentMLValidatorGUI
    java.lang.UnsupportedClassVersionError: psidev/psi/pi

[2020-02-26 20:37] nicorellius commented on #111
Installed Java 13 with the following:

    sudo apt -y update
    sudo add-apt-repository ppa:linuxuprising/java
    sudo apt -y update
    sudo apt -y install oracle-java13-installer

Then downloaded [validator ZIP](https://github.com/HUPO-PSI/mzIdentML/raw/master/validator/mzIdentMLValidator_GUI_v1.4.35-SNAPSHOT.zip), unpacked it, then ran the following command (from this thread above):

`java -

[2020-03-27 21:33] mobiusklein opened #114 "XLMOD:02258 has malformed spaceLength value"
[code]

The spaceLength property value "5.0-20.0" does not comply with `xsd:float`. Is there an appropriate type for this expression "built-in"? If not, how are they declared/defined?

[2020-05-08 13:54] lutzfischer opened #115 "mzIdentML validator: residue-pair-level score pairing and ambiguity"
The validator flags residue level scores up as not paired - but this disregards ambiguity. I.e. I have a case where I have a link from peptide `XXXXXKXR` to `PEPTIDEKR` and the protein actually contains the sequence `...PEPTIDEKRPEPTIDEKR...` - therefore I get an ambiguous residue pair. Now in the resulting mzIdentML contains:

[code]

But the validator comes back with:
[code]
but it is paired - o

[2020-12-22 19:10] matentzn opened #117 "Provide an OWL version xlmod?"
Hey all!

I am trying to process all ontologies in the OBO foundry at the moment, and I have a problem with xlmod because no owl version is provided. If I helped you to provide one, would you mind adding it to the xlmod cv release file directory?

All best!

[2021-03-05 11:42] matentzn commented on #117
Hello again!

According to the [OBO foundry policies](http://obofoundry.org/principles/fp-002-format.html):

Would it be possible to provide this, or do you consider xlmod inactive now?

[2021-03-09 17:18] cmungall commented on #117
Note that xlmod.obo cannot be translated to OWL as there are syntax errors:

[code]

The issue is caused by xlmod making properties with spaces in the ID

[2021-03-23 19:37] pmt706 commented on #117
Hi All,

I'm happy to fix the errors in this that are causing issues in OWL generation, but can I suggest that we move the home of XLMOD to somewhere that isn't hidden within mzIdentML's github ?

Paul

[2021-03-23 19:40] cmungall commented on #117
Yes, I think it's a good idea for each ontology to have its own distinct repo.

I recommend creating a new repo using https://github.com/INCATools/ontology-development-kit/ -- if you are comfortable running python scripts OR docker this should be easy, but we can help if not.

[2021-03-23 20:29] edeutsch commented on #117
I agree that we should put it in its own repo.

I would suggest something like XLMOD-CV to be similar to our other CVs

Left to our own devices, I would have modeled the repo on this: https://github.com/HUPO-PSI/psi-mod-CV

But we could try the ODK stuff suggested above by Chris if Paul is up for it. If that seems too complicated then modeling on psi-mod-CV seems adequate to me.

[2021-06-08 12:25] cthoyt opened #119 "Add obofoundry topic to repo metadata"
The OBO Foundry has recently created a topics page at https://github.com/topics/obofoundry. It would be great if you could add the `obofoundry` topic to your repository, since it's currently listed as active in the OBO Foundry. If you're not sure how to do that, follow the instructions [here](https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/classifying-your

[2021-09-07 09:13] matentzn commented on #117
Hey all, are there any updates on xlmod CV? Is there a new repo / OWL product available we can register at the OBO foundry pages?

[2022-02-01 18:03] matentzn commented on #117
Sorry to be a massive pain, but xlmod is the last remaining ontology that cannot be processed at all by the [OBO Dashboard](http://dashboard.obofoundry.org/dashboard/index.html).

![image](https://user-images.githubusercontent.com/7070631/152024986-bf6503a5-5524-4321-a92e-7a4befd4bcf3.png)

Are their any plans to fix this? Or do you prefer to label xlmod as `inactive` on OBO foundry?

[2022-02-02 09:34] matentzn commented on #117
Awesome :) Thanks @edeutsch !

[2022-02-06 03:47] edeutsch commented on #117
The new repo is here:
https://github.com/HUPO-PSI/xlmod-CV

Please switch to using the contents there. And post an issue there if you have any further trouble.

[2022-02-06 11:58] colin-combe opened #121 "validator - Flaw in the rule definition: CrosslinkingPeptideModification_may_rule?"
Hi,

when I switch on "show flaw errors" in the validator, it displays an error saying:

[code]

what does it mean? Is something broken in the rule for CrosslinkingPeptideModification?
Best wishes,
Colin

[2022-02-07 09:35] matentzn commented on #117
That is great.

- [ ] Please update this file: https://github.com/OBOFoundry/purl.obolibrary.org/blob/master/config/xlmod.yml

by fixing the `products` row (add a .owl artefact and fix all/any other URLs in that config file - this is the file that is responsible for your PURLs).

Please assign me as a reviewer as well and link to this issue.

- [ ] Please update this file: https://github.com/OBOFo

[2022-02-10 13:09] matentzn commented on #117
Great, the purl has now been[merged](https://github.com/OBOFoundry/purl.obolibrary.org/pull/822). Now the last part, updating the Metadata (see comment above). After that is done, I am out of your hair, @edeutsch :) Thank you!

[2022-02-18 08:23] matentzn commented on #117
Beautiful, all done @edeutsch thank you very much for your help getting this all cleaned up!

[2022-02-18 18:09] edeutsch commented on #117
thank you for nudging us to get it done. closing.

[2022-02-18 18:09] #117 closed

[2022-03-10 09:54] vrkosk opened #122 "Validator - add support for proxy servers"
When I run mzIdentMLValidator-1.4.35-SNAPSHOT.jar behind a Squid HTTP proxy server, the first error is always that the application is unable to download the XSD file. Works fine when I go to a network without proxy server. Please either add support for proxy servers or ship the XSD files with the validator and avoid downloading anything.

[2022-03-10 09:58] vrkosk opened #123 "Validator - incorrect error about SearchType CV term"
Mascot Server 2.6 and later support combined spectral library and FASTA searches. The software exports the type using a valid CV term:
[code]

Term definition in psi-ms.obo:

[code]

The validator isn't happy and gives two errors:
[code]

The validator is wrong. The mzIdentML 1.1 specification section 6.63 says _"MUST supply a *child* term of MS:1001080 (search type)"_ and MS:1002755 is a child of

[2022-03-10 10:08] vrkosk opened #124 "Validator - protein-level global FDR term"
Mascot Server 2.7 and later export protein FDR using the CV term MS:1001214:
[code]

Definition in psi-ms.obo:

[code]

mzIdentMLValidator-1.4.35-SNAPSHOT.jar doesn't accept this. The error is:
[code]

The mzIdentML 1.1 specification doesn't mention protein FDR. Spec 1.2 mentions protein FDR in <Threshold> element in section 6.83, where one of the few examples is "MUST supply term MS:1001447 (prot

[2022-06-15 10:51] colin-combe commented on #123
MS:1002755 is missing from here:
https://github.com/HUPO-PSI/mzIdentML/blob/master/validator/resources/mzIdentML-mapping_1.2.0.xml#L128-L135
right?

[2022-06-16 07:33] vrkosk commented on #123
I'm not familiar with the mapping file or how it's used by the validator, but looks probable.

[2022-07-25 13:24] colin-combe opened #126 "how to recompile Validator?"
Hi,

I've tried to rebuild the Validator (using Netbeans as the repository already contained project files for this IDE).

It failed with the following error:

[code]
I'm not sure how to interpret this? Are some of the dependencies missing or only accessible when inside EBI?

Can anyone give advice on how to make it compile?
Thanks,
Colin

[2022-08-30 10:36] colin-combe opened #127 "SearchModification MAY supply a *child* term of MS:1001471 (peptide modification details) only once?"
in the definition of SearchModification on p.65 of the spec it says "MAY supply a *child* term of MS:1001471 (peptide modification details) only once".
Is that correct? E.g. a fragment may have multiple neutral losses.

[2022-08-30 14:02] colin-combe opened #128 "current correct way to encode the ion series searched for"
I think it’s unclear what the current correct cv terms to be used for the ion series searched for (including losses) are. See pg 28 of the spec.

There are multiple deprecated / obselete terms, the ones that appear current aren’t members of the parent term that the specification allows in AdditionalSearchParams?

Try looking up [“ion series considered in search” in OLS](https://www.ebi.ac.uk/ols/o

[2022-08-30 14:43] colin-combe opened #129 "file format for extension documents?"
the [new version of the spec](https://github.com/HUPO-PSI/mzIdentML/blob/master/specification_document/specdoc1_2/mzIdentML1.2.1-draft.docx) will refer to extension documents that describe additional features.

What file format do we want to use for these documents? Its been suggested to move away from .docx  "to ASCIIDoctor format (to match mzTab) or failing that an enhanced Markdown". Something

[2022-09-28 06:36] javizca commented on #128
At some point we tried to combine the ion series with the type of neutral loss. But I don't think this was properly implemented anywhere, or maybe I am wrong? In any case, the problem with this is that the size of the files increases dramatically so this is why this feature for ion annotations is used less and less I think

[2022-09-28 06:38] javizca commented on #126
Sorry, I forgot to reply to this. I think Gerhard Mayer was the last person working in the mzidentML validator. I think the EBI maven repository also had to change. I can investigate this a bit further

[2022-09-28 06:40] javizca commented on #129
Nils Hoffmann is the person to ask about this, although we need to take a joint decision about how to proceed. I don't have any experience in using the ASCIIDoctor format

[2022-10-03 10:47] vrkosk commented on #112
What mzIdentML software is able to read and display localisation scores using the 1.2.0 syntax? Is there any?

[2022-10-03 10:54] vrkosk commented on #128
Mascot supports ion series with a NL like b* ("b ion-NH3"). The ion series config is a search-level parameter, not specific to whether a peptide has a variable mod. We don't plan to remove this support. If an alternative encoding is specified, that's fine, but please don't remove the obsoleted terms without providing a replacement.

[2022-10-03 10:55] vrkosk commented on #127
If Mascot is the only search engine that supports multiple neutral losses, this issue is not a blocker for mzIdentML 1.2.1.

[2022-10-05 08:15] javizca commented on #126
I was discussing this with @ypriverol yesterday. We have not really touched the validator for a very long time. There is some substantial work that would be needed to "revitalise" it. We can discuss the priorities and timeframe in a future call or in our kickoff meeting on November.

[2022-10-05 18:25] edeutsch commented on #126
I think @mobiusklein put some effort into revitalizing it but I don't know with that degree of success. But maybe he could comment.

[2022-10-05 18:46] mobiusklein commented on #126
I hit the same wall that Colin did, being unable to locate certain dependencies via the package registry and not being able to locate those libraries' source code to work around the registry.

[2022-10-06 06:37] ypriverol commented on #126
I will try to solve the dependency issues today.

[2022-10-07 07:45] colin-combe commented on #126
Awesome - thanks,
Colin

[2022-10-07 08:13] colin-combe commented on #128
@javizca - are you possibly mixing this up with the IonType elements in SpectrumIdentificationItem/Fragmentation?
As @vrkosk says these are search-level parameters (in AdditionalSearchParameters).

I think the main specification document and / or the CV terms need updated so its clear what the current, correct way to do this is?

[2022-10-07 08:20] colin-combe commented on #129
whats missing from 'normal' markdown that we might need? (@mobiusklein)

[2022-10-07 10:46] ypriverol commented on #111
In the new implementation https://github.com/ypriverol/mzidentml-validator all dependencies are packaged within the same tool jar. I will close this issue unless someone has major complains and wants to open it again.

[2022-10-07 10:46] #111 closed

[2022-10-07 10:47] ypriverol commented on #82
This is an old issue. Unless @edeutsch you have major complains I will close it.

[2022-10-07 10:47] #82 closed

[2022-10-07 10:48] ypriverol commented on #81
@edeutsch this is an old issue, unless you have major complains I will close it.

[2022-10-07 10:48] #81 closed

[2022-10-07 10:48] #80 closed

[2022-10-07 10:50] ypriverol commented on #126
Hi @colin-combe, I have created a new clean repo here https://github.com/ypriverol/mzidentml-validator. The project is Java 1.8-based, and you should be able to build it, all dependencies issues have been solved. Please take a look to it. I will close this issue. If you have any problems please open a new one.

[2022-10-07 10:50] #126 closed

[2022-10-07 13:31] #122 closed

[2022-10-08 06:32] #86 closed

[2022-10-08 06:33] #94 closed

[2022-10-08 06:35] #90 closed

[2022-10-08 19:43] mobiusklein commented on #128
We've got three parts that are hard to specifically address because they are named _very_ similarly and refer to the same concept but were created at different times with seemingly different goals.

1. `MS:1001066` ions series considered in search (is-a MS:1001249 ! search input details)
2. `MS:1002473` ion series considered in search  (is-a MS:1001249 ! search input details)
3. `MS:1002307` fragm

[2022-10-10 09:24] colin-combe commented on #128
this is about the case where the loss is independent of a specific modification

[2022-10-13 10:13] colin-combe commented on #129
how do we contact Nils Hoffman?